Repository conda-forge/staged-recipes, pull requests merged in 2022-07, with the labels that each got.

#19409 add python2jupyter p2j
  recipes/p2j/meta.yaml
Labels: review-requested, python

#19051 Add numpy_ringbuffer
  recipes/numpy_ringbuffer/meta.yaml
  recipes/numpy_ringbuffer/run_test.py
Labels: Awaiting author contribution, python

#19431 Add ctrl-benchmark via grayskull
  recipes/ctrl-benchmark/meta.yaml
Labels: review-requested, python

#19430 Add higher via grayskull
  recipes/higher/LICENSE
  recipes/higher/meta.yaml
  recipes/higher/version.txt
Labels: review-requested, python

#19357 Adding `pythae` from PyPI
  recipes/pythae/meta.yaml
Labels: Awaiting author contribution, python

#19510 Add recipe for oast
  recipes/oast/meta.yaml
Labels: staged-recipes, review-requested

#19452 add flake8-junit-report
  recipes/flake8-junit-report/LICENSE
  recipes/flake8-junit-report/meta.yaml
  recipes/flake8-junit-report/test_flake8_file.py
Labels: Awaiting author contribution, python

#19509 Add pyvista-xarray recipe
  recipes/pyvista-xarray/meta.yaml
  recipes/pyvista-xarray/yum_requirements.txt
Labels: staged-recipes, review-requested, python

#19407 Add mumax3c
  recipes/mumax3c/meta.yaml
Labels: Awaiting author contribution, python

#19461 Add recipe for lizard and circlify
  recipes/circlify/meta.yaml
  recipes/lizard/meta.yaml
Labels: review-requested, python

#19513 Add shared-memory38
  recipes/shared-memory38/LICENSE
  recipes/shared-memory38/meta.yaml
Labels: review-requested, python-c

#19514 Add spectrafit
  recipes/spectrafit/meta.yaml
Labels: staged-recipes, review-requested

#18301 Adding PyEBSDIndex
  recipes/pyebsdindex/conda_build_config.yaml
  recipes/pyebsdindex/meta.yaml
Labels: staged-recipes, review-requested

#19346 add gdsfactory
  recipes/gdsfactory/meta.yaml
Labels: staged-recipes, review-requested, python

#19503 Add pylink recipe
  recipes/pylink/meta.yaml
Labels: review-requested, python

#19507 Add qe-tools
  recipes/qe-tools/meta.yaml
Labels: review-requested, python

#19488 Added recipe for morphMan
  recipes/morphMan/meta.yaml
  recipes/morphMan/yum_requirements.txt
Labels: Awaiting author contribution, python

#19512 Add small-text
  recipes/small-text/meta.yaml
Labels: staged-recipes, review-requested

#19525 Added viewable as a package.
  recipes/viewable/meta.yaml
  recipes/viewable/yum_requirements.txt
Labels: staged-recipes, review-requested

#19522 Added pybrowsers as a package
  recipes/pybrowsers/meta.yaml
Labels: staged-recipes, review-requested

#19504 Add simde
  recipes/simde/bld.bat
  recipes/simde/build.sh
  recipes/simde/meta.yaml
Labels: review-requested, c-cpp

#19527 Added winter-theme as a pacakge.
  recipes/winter-theme/meta.yaml
Labels: staged-recipes, review-requested

#19526 Added cyberpunk-theme as a package.
  recipes/cyberpunk-theme/meta.yaml
  recipes/cyberpunk-theme/yum_requirements.txt
Labels: staged-recipes, review-requested

#19233 Add napari-deeplabcut recipe
  recipes/napari-deeplabcut/meta.yaml
  recipes/napari-deeplabcut/yum_requirements.txt
Labels: staged-recipes, review-requested

#19260 Add napari-timeseries-opener-plugin recipe
  recipes/napari-timeseries-opener-plugin/meta.yaml
  recipes/napari-timeseries-opener-plugin/yum_requirements.txt
Labels: staged-recipes, review-requested

#19548 Add recipe for CRAN package ttdo
  recipes/r-ttdo/bld.bat
  recipes/r-ttdo/build.sh
  recipes/r-ttdo/meta.yaml
Labels: staged-recipes, review-requested

#19222 Add waveorder recipe
  recipes/waveorder/meta.yaml
  recipes/waveorder/setup.patch
  recipes/waveorder/yum_requirements.txt
Labels: staged-recipes, review-requested

#19499 Add recipe for ringdecomposerlib
  recipes/ringdecomposerlib/bld.bat
  recipes/ringdecomposerlib/build.sh
  recipes/ringdecomposerlib/language_c.patch
  recipes/ringdecomposerlib/meta.yaml
  recipes/ringdecomposerlib/no_static_lib.patch
Labels: review-requested, c-cpp

#19160 Add recipe for pyston_lite
  recipes/pyston_lite/build_pyston_lite.sh
  recipes/pyston_lite/meta.yaml
Labels: Awaiting author contribution, python-c

#19497 Adding `copier`, `jinja2-ansible-filters`, and `pyyaml-include`
  recipes/copier/meta.yaml
  recipes/jinja2-ansible-filters/meta.yaml
  recipes/pyyaml-include/meta.yaml
Labels: staged-recipes, review-requested, python

#19429 Add avalanche-lib via grayskull
  recipes/avalanche-lib/meta.yaml
Labels: review-requested, python

#19196 Add palmari recipe
  recipes/palmari/meta.yaml
  recipes/palmari/yum_requirements.txt
Labels: staged-recipes, review-requested

#19245 Add napari-pram recipe
  recipes/napari-pram/meta.yaml
  recipes/napari-pram/yum_requirements.txt
Labels: staged-recipes, review-requested

#19224 Add pycromanager recipe
  recipes/pycromanager/meta.yaml
Labels: Awaiting author contribution, staged-recipes, review-requested

#19532 Add augment-nd recipe
  recipes/augment-nd/LICENSE.txt
  recipes/augment-nd/meta.yaml
Labels: staged-recipes, review-requested

#19230 Add napari-ip-workflow recipe
  recipes/napari-ip-workflow/meta.yaml
  recipes/napari-ip-workflow/yum_requirements.txt
Labels: staged-recipes, review-requested

#19541 Add transformations recipe
  recipes/transformations/meta.yaml
Labels: staged-recipes, review-requested

#19198 Add hesperos recipe
  recipes/hesperos/meta.yaml
  recipes/hesperos/setup.patch
  recipes/hesperos/yum_requirements.txt
Labels: staged-recipes, review-requested

#19243 Add napari-labeling recipe
  recipes/napari-labeling/meta.yaml
  recipes/napari-labeling/yum_requirements.txt
Labels: staged-recipes, review-requested

#19235 Add napari-bigwarp recipe
  recipes/napari-bigwarp/meta.yaml
  recipes/napari-bigwarp/yum_requirements.txt
Labels: staged-recipes, review-requested

#19428 Add bindsnet via grayskull
  recipes/bindsnet/meta.yaml
  recipes/bindsnet/yum_requirements.txt
Labels: Awaiting author contribution, python-c

#19236 Add napari-kics recipe
  recipes/napari-kics/meta.yaml
  recipes/napari-kics/yum_requirements.txt
Labels: staged-recipes, review-requested

#19200 Add napari-picasso recipe
  recipes/napari-picasso/meta.yaml
  recipes/napari-picasso/yum_requirements.txt
Labels: staged-recipes, review-requested

#19244 Add napari-layer-table recipe
  recipes/napari-layer-table/meta.yaml
  recipes/napari-layer-table/yum_requirements.txt
Labels: staged-recipes, review-requested

#19192 Add arcos-gui recipe
  recipes/arcos-gui/meta.yaml
  recipes/arcos-gui/yum_requirements.txt
Labels: staged-recipes, review-requested

#19249 Add napari-psf-analysis recipe
  recipes/napari-psf-analysis/meta.yaml
  recipes/napari-psf-analysis/yum_requirements.txt
Labels: staged-recipes, review-requested

#19262 Add napari-psf-simulator recipe
  recipes/napari-psf-simulator/meta.yaml
  recipes/napari-psf-simulator/yum_requirements.txt
Labels: staged-recipes, review-requested

#19254 Add psfmodels recipe
  recipes/psfmodels/meta.yaml
Labels: staged-recipes, review-requested

#19337 Add xilinx-runtime
  recipes/xilinx-runtime/build.sh
  recipes/xilinx-runtime/meta.yaml
  recipes/xilinx-runtime/patches/00_disable_werror.patch
  recipes/xilinx-runtime/patches/01_xspi_std_array.patch
  recipes/xilinx-runtime/patches/02_prid64_macro_usage.patch
  recipes/xilinx-runtime/patches/03_icd.patch
  recipes/xilinx-runtime/patches/04_no_static_linkage.patch
  recipes/xilinx-runtime/patches/05_fix_python_rm_dkms_general_cmake.patch
  recipes/xilinx-runtime/patches/06_fix_pkg_config.patch
  recipes/xilinx-runtime/patches/07_no_version_for_dkms.patch
  recipes/xilinx-runtime/patches/08_fix_cmake_install_prefix.patch
  recipes/xilinx-runtime/patches/09_fix_ocl.patch
  recipes/xilinx-runtime/patches/10_no_cloud_daemon.patch
  recipes/xilinx-runtime/patches/11_fix_xbflash_install.patch
  recipes/xilinx-runtime/patches/12_no_setup_script.patch
  recipes/xilinx-runtime/patches/13_fix_appdebug_install.patch
  recipes/xilinx-runtime/patches/14_remove_static_libs.patch
Labels: review-requested, c-cpp

#19400 Adding mmcv (Pytorch-based computer-vision lib)
  recipes/mmcv/build_mmcv.sh
  recipes/mmcv/meta.yaml
  recipes/mmcv/yum_requirements.txt
Labels: review-requested, python-c

#19296 Add libhdbpp recipe
  recipes/libhdbpp/build.sh
  recipes/libhdbpp/meta.yaml
Labels: review-requested, c-cpp

#19475 add libusb-package recipe
  recipes/libusb-package/meta.yaml
Labels: review-requested, python

#19433 Add polyhedral-gravity-model package
  recipes/polyhedral-gravity-model/TetGen_LICENSE
  recipes/polyhedral-gravity-model/meta.yaml
Labels: review-requested, python-c

#19586 Add poetry-plugin-export
  recipes/poetry-plugin-export/LICENSE
  recipes/poetry-plugin-export/conda_build_config.yaml
  recipes/poetry-plugin-export/meta.yaml
Labels: review-requested, python

#19587 Add recipe for tuspy
  recipes/tuspy/LICENSE
  recipes/tuspy/meta.yaml
Labels: review-requested, python

#19511 add TXM_Sandbox recipe
  recipes/TXM_Sandbox/meta.yaml
Labels: review-requested, python

#19438 Knoten recipe via Grayskull
  recipes/knoten/meta.yaml
Labels: Awaiting author contribution, python

#19501 Add inputs via grayskull
  recipes/inputs/meta.yaml
Labels: Awaiting author contribution, staged-recipes, python

#19558 Add a recipe for whatthepatch
  recipes/whatthepatch/meta.yaml
Labels: staged-recipes, review-requested, python

#19562 Adding mmdetection
  recipes/mmdet/meta.yaml
  recipes/mmdet/yum_requirements.txt
Labels: review-requested, python

#19534 Add napari-filaments recipe
  recipes/napari-filaments/meta.yaml
  recipes/napari-filaments/yum_requirements.txt
Labels: staged-recipes, review-requested

#19590 Add napari-bioimageio recipe
  recipes/napari-bioimageio/meta.yaml
  recipes/napari-bioimageio/yum_requirements.txt
Labels: staged-recipes, review-requested

#19240 Add napari-manual-transforms recipe
  recipes/napari-manual-transforms/meta.yaml
  recipes/napari-manual-transforms/yum_requirements.txt
Labels: staged-recipes, review-requested

#19545 Add napari-splineit recipe
  recipes/napari-splineit/meta.yaml
  recipes/napari-splineit/yum_requirements.txt
Labels: staged-recipes, review-requested

#19199 Add recorder-napari recipe
  recipes/recorder-napari/meta.yaml
  recipes/recorder-napari/modules.patch
  recipes/recorder-napari/yum_requirements.txt
Labels: staged-recipes, review-requested

#19250 Add blik recipe
  recipes/blik/meta.yaml
  recipes/blik/yum_requirements.txt
Labels: staged-recipes, review-requested

#19241 Add napari-nd-annotator recipe
  recipes/napari-nd-annotator/imports.patch
  recipes/napari-nd-annotator/meta.yaml
  recipes/napari-nd-annotator/yum_requirements.txt
Labels: staged-recipes, review-requested

#19516 Add `hatch` recipe
  recipes/hatch/meta.yaml
Labels: review-requested, python

#19596 add census-parquet
  recipes/census-parquet/meta.yaml
Labels: staged-recipes, review-requested

#19343 Adding fegrow
  recipes/fegrow/meta.yaml
Labels: review-requested, python

#19342 Adding geoapis
  recipes/geoapis/meta.yaml
Labels: review-requested, python

#19612 add more aiida plugins
  recipes/aiida-quantumespresso/meta.yaml
  recipes/aiida-siesta/meta.yaml
  recipes/aiida-wannier90/meta.yaml
Labels: review-requested, python

#19552 Adding dvc-task
  recipes/dvc-task/meta.yaml
Labels: review-requested, python

#19630 Add colmena
  recipes/colmena/meta.yaml
  recipes/proxystore/meta.yaml
Labels: staged-recipes, review-requested

#19631 Add foundry ML
  recipes/dlhub-sdk/meta.yaml
  recipes/foundry_ml/meta.yaml
  recipes/funcx/meta.yaml
  recipes/json2table/meta.yaml
  recipes/mdf-connect-client/meta.yaml
Labels: staged-recipes, review-requested

#19640 Added editabletuple as a package
  recipes/editabletuple/LICENSE
  recipes/editabletuple/meta.yaml
Labels: staged-recipes, review-requested

#19641 Added correlate as a package
  recipes/correlate/meta.yaml
Labels: staged-recipes, review-requested

#19649 Adding ecs-logging
  recipes/ecs-logging/LICENSE.txt
  recipes/ecs-logging/meta.yaml
Labels: staged-recipes, review-requested

#19662 Add recipe for dicomweb-client 0.56.2.
  recipes/dicomweb-client/meta.yaml
Labels: staged-recipes, review-requested

#19661 Add cadcad
  recipes/cadcad/meta.yaml
  recipes/fn/collections.patch
  recipes/fn/meta.yaml
Labels: staged-recipes, review-requested

#19659 Add skipatom
  recipes/skipatom/meta.yaml
Labels: staged-recipes, review-requested

#19657 Added design-by-contract as a package
  recipes/design-by-contract/license.txt
  recipes/design-by-contract/meta.yaml
Labels: staged-recipes, review-requested

#19653 Added oslash as a package
  recipes/oslash/LICENSE
  recipes/oslash/meta.yaml
Labels: staged-recipes, review-requested

#19530 Add gunpowder recipe
  recipes/gunpowder/LICENSE.txt
  recipes/gunpowder/meta.yaml
Labels: staged-recipes, review-requested

#19599 add functorch
  recipes/functorch/meta.yaml
  recipes/functorch/run_test.py
Labels: staged-recipes, review-requested, python-c

#19679 Add recipe for couchdb-python 1.2.
  recipes/couchdb-python/meta.yaml
Labels: staged-recipes, review-requested

#19588 Add napari-pystackreg recipe
  recipes/napari-pystackreg/meta.yaml
  recipes/napari-pystackreg/yum_requirements.txt
Labels: staged-recipes, review-requested

#19681 Add czmodel recipe
  recipes/czmodel/meta.yaml
Labels: staged-recipes, review-requested

#19701 Added picologging as a package
  recipes/picologging/conda_build_config.yaml
  recipes/picologging/meta.yaml
Labels: staged-recipes, review-requested

#19699 Added secimport as a package
  recipes/secimport/meta.yaml
Labels: staged-recipes, review-requested

#19693 Added fugue-sql-antlr as a pacakge
  recipes/fugue-sql-antlr/meta.yaml
Labels: staged-recipes, review-requested

#19556 Add recipe for scine-database
  recipes/scine-database-python/build.sh
  recipes/scine-database-python/meta.yaml
  recipes/scine-database-python/pybind11_pin.patch
  recipes/scine-database-python/run_test.sh
  recipes/scine-database-python/skip_library_build.patch
  recipes/scine-database/build.sh
  recipes/scine-database/meta.yaml
Labels: review-requested, c-cpp, python-c

#19614 Add visit_struct C++ library
  recipes/visit_struct/CMakeLists.txt
  recipes/visit_struct/bld.bat
  recipes/visit_struct/build.sh
  recipes/visit_struct/meta.yaml
  recipes/visit_struct/run_test.bat
  recipes/visit_struct/run_test.sh
  recipes/visit_struct/test/CMakeLists.txt
  recipes/visit_struct/test/visit_struct_example.cpp
Labels: Awaiting author contribution, c-cpp

#19570 Add skia-pathops
  recipes/skia-pathops/disable-virtualenv-creation.patch
  recipes/skia-pathops/inherit-cc-cxx-from-environment.patch
  recipes/skia-pathops/meta.yaml
  recipes/skia-pathops/use-gn-from-conda.patch
Labels: Awaiting author contribution, python-c

#19604 adding aqme to conda-forge
  recipes/aqme/meta.yaml
Labels: staged-recipes, review-requested

#19316 Adding tatc
  recipes/tatc/meta.yaml
Labels: staged-recipes, review-requested, python

#19721 Add pympipool
  recipes/pympipool/meta.yaml
Labels: staged-recipes, review-requested

#19634 Add aiida-wannier90_workflows
  recipes/aiida-wannier90_workflows/meta.yaml
Labels: review-requested, python

#19713 add recipe for dav1d
  recipes/dav1d/meta.yaml
Labels: review-requested, c-cpp

#19613 Add oso package recipe
  recipes/oso/bld.bat
  recipes/oso/build.sh
  recipes/oso/meta.yaml
  recipes/sqlalchemy-oso/meta.yaml
Labels: R, staged-recipes, review-requested, python

#19717 Added compact-json as a package
  recipes/compact-json/meta.yaml
Labels: staged-recipes, review-requested

#19557 add cvxportfolio
  recipes/cvxportfolio/LICENSE
  recipes/cvxportfolio/meta.yaml
Labels: review-requested, python

#19743 Adding Package for wxMPL
  recipes/wxmpl/meta.yaml
  recipes/wxmpl/yum_requirements.txt
Labels: review-requested, python

#19751 Adding `diffusers` from PyPI
  recipes/diffusers/meta.yaml
Labels: review-requested, python

#19470 Add dem_stitcher recipe
  recipes/dem_stitcher/meta.yaml
Labels: review-requested, python

#19752 Add more aiida plugin packages
  recipes/aiida-abinit/meta.yaml
  recipes/aiida-castep/meta.yaml
  recipes/aiida-vasp/LICENSE.txt
  recipes/aiida-vasp/meta.yaml
  recipes/aiida-yambo/LICENSE.txt
  recipes/aiida-yambo/meta.yaml
  recipes/castepinput/LICENSE
  recipes/castepinput/meta.yaml
  recipes/cp2k-input-tools/meta.yaml
  recipes/cp2k-output-tools/LICENSE
  recipes/cp2k-output-tools/meta.yaml
  recipes/parsevasp/LICENSE.txt
  recipes/parsevasp/meta.yaml
Labels: review-requested, python

#19406 add rangehttpserver
  recipes/rangehttpserver/LICENSE
  recipes/rangehttpserver/meta.yaml
Labels: staged-recipes, review-requested

#19658 Added pycontracts as a package
  recipes/pycontracts/meta.yaml
Labels: staged-recipes, review-requested, python

#19565 Adding cosmic_profiles
  recipes/cosmic_profiles/meta.yaml
Labels: staged-recipes, review-requested, python

#19645 Add atool
  recipes/atool/meta.yaml
Labels: staged-recipes, review-requested

#19597 Adds aioboto3
  recipes/aioboto3/meta.yaml
Labels: staged-recipes, review-requested, python

#19761 add jupyterlab-github 3.0.1
  recipes/jupyterlab-github/copy-nbconf.py
  recipes/jupyterlab-github/meta.yaml
Labels: staged-recipes, review-requested, python

#19740 Add types-aiobotocore recipes
  recipes/boto3-stubs-lite/LICENSE
  recipes/boto3-stubs-lite/meta.yaml
  recipes/types-aiobotocore-batch/LICENSE
  recipes/types-aiobotocore-batch/meta.yaml
  recipes/types-aiobotocore-cloudformation/LICENSE
  recipes/types-aiobotocore-cloudformation/meta.yaml
  recipes/types-aiobotocore-dynamodb/LICENSE
  recipes/types-aiobotocore-dynamodb/meta.yaml
  recipes/types-aiobotocore-ec2/LICENSE
  recipes/types-aiobotocore-ec2/meta.yaml
  recipes/types-aiobotocore-lambda/LICENSE
  recipes/types-aiobotocore-lambda/meta.yaml
  recipes/types-aiobotocore-logs/LICENSE
  recipes/types-aiobotocore-logs/meta.yaml
  recipes/types-aiobotocore-rds/LICENSE
  recipes/types-aiobotocore-rds/meta.yaml
  recipes/types-aiobotocore-redshift-data/LICENSE
  recipes/types-aiobotocore-redshift-data/meta.yaml
  recipes/types-aiobotocore-s3/LICENSE
  recipes/types-aiobotocore-s3/meta.yaml
  recipes/types-aiobotocore-sqs/LICENSE
  recipes/types-aiobotocore-sqs/meta.yaml
Labels: review-requested, python

#19709 Adding effectsize package for Python
  recipes/effectsize/meta.yaml
Labels: review-requested, python

#19782 Added ariadne as a package
  recipes/ariadne/meta.yaml
Labels: staged-recipes, review-requested

#19780 Added montydb as a package
  recipes/montydb/meta.yaml
Labels: staged-recipes, review-requested

#19781 Added finta as a package
  recipes/finta/LICENSE
  recipes/finta/meta.yaml
Labels: staged-recipes, review-requested

#19778 Added jut as a package
  recipes/jut/LICENSE
  recipes/jut/meta.yaml
Labels: staged-recipes, review-requested

#19784 Added secure as a package
  recipes/secure/meta.yaml
Labels: staged-recipes, review-requested

#19775 Added backstage as a package.
  recipes/backstage/meta.yaml
Labels: staged-recipes, review-requested

#19776 Added tex2py as a package
  recipes/tex2py/meta.yaml
Labels: staged-recipes, review-requested

#19777 Added md2py as a package
  recipes/md2py/LICENSE
  recipes/md2py/meta.yaml
Labels: staged-recipes, review-requested

#19773 Added suggestion as a package
  recipes/suggestion/meta.yaml
  recipes/suggestion/yum_requirements.txt
Labels: staged-recipes, review-requested

#19770 Added data-diff as a package
  recipes/data-diff/meta.yaml
Labels: staged-recipes, review-requested

#19766 Added tinyflux as a package
  recipes/tinyflux/meta.yaml
Labels: staged-recipes, review-requested

#19768 Added pregex as a package
  recipes/pregex/meta.yaml
Labels: staged-recipes, review-requested

#19769 Added ast-selector as a package
  recipes/ast-selector/meta.yaml
Labels: staged-recipes, review-requested

#19783 Added nbsafety as a package
  recipes/nbsafety/meta.yaml
Labels: staged-recipes, review-requested

#19772 Added megawidget as a package
  recipes/megawidget/meta.yaml
  recipes/megawidget/yum_requirements.txt
Labels: staged-recipes, review-requested

#19767 Added django-readers as a pacakge
  recipes/django-readers/meta.yaml
Labels: staged-recipes, review-requested

#19787 Added simplematch as a package
  recipes/simplematch/meta.yaml
Labels: staged-recipes, review-requested

#19795 add in-n-out
  recipes/in-n-out/meta.yaml
Labels: staged-recipes, review-requested

#18411 Add fmi4cpp
  recipes/fmi4cpp/bld.bat
  recipes/fmi4cpp/build.sh
  recipes/fmi4cpp/meta.yaml
Labels: Awaiting author contribution, c-cpp

#19703 Adding constyle
  recipes/constyle/meta.yaml
Labels: review-requested, python

#19806 add binary repacking recipe for dart
  recipes/dart/bld.bat
  recipes/dart/build.sh
  recipes/dart/meta.yaml
Labels: staged-recipes, review-requested

#19794 add app-model
  recipes/app_model/meta.yaml
Labels: staged-recipes, review-requested

#19792 Add adf2dms
  recipes/adf2dms/meta.yaml
  recipes/crccheck/LICENSE
  recipes/crccheck/meta.yaml
Labels: staged-recipes, review-requested, python

#19744 add jax-cfd and tree-math
  recipes/jax-cfd/meta.yaml
  recipes/tree-math/LICENSE
  recipes/tree-math/meta.yaml
Labels: review-requested, python

#19796 Add megnet
  recipes/megnet/meta.yaml
Labels: staged-recipes, review-requested, python

#19616 add paralleltask from PyPi
  recipes/paralleltask/meta.yaml
Labels: review-requested, python

#19793 Add mnemonic pbkdf2 and sha256
  recipes/mnemonic/LICENSE
  recipes/mnemonic/meta.yaml
  recipes/pbkdf2/LICENSE
  recipes/pbkdf2/meta.yaml
  recipes/sha256/LICENSE
  recipes/sha256/meta.yaml
Labels: staged-recipes, review-requested

#19790 Add pystore
  recipes/pystore/entry.patch
  recipes/pystore/meta.yaml
Labels: staged-recipes, review-requested

#19440 Add cWB
  recipes/cWB/build.sh
  recipes/cWB/conda-forge.yml
  recipes/cWB/meta.yaml
  recipes/cWB/rootcling-cross.patch
Labels: Awaiting author contribution, staged-recipes, c-cpp

#19678 Add kafkit package from PyPI
  recipes/kafkit/meta.yaml
Labels: review-requested, python

#19607 add stackview receipe
  recipes/stackview/meta.yaml
Labels: review-requested, python

#19682 Add cztile recipe
  recipes/cztile/meta.yaml
Labels: staged-recipes, review-requested, python

#19817 Add CRAN package basetheme
  recipes/r-basetheme/bld.bat
  recipes/r-basetheme/build.sh
  recipes/r-basetheme/meta.yaml
Labels: R, review-requested

#19842 Add `shiny` and `htmltools` from PyPI
  recipes/htmltools/meta.yaml
  recipes/shiny/meta.yaml
Labels: review-requested, python

#19836 add biothings_client
  recipes/biothings_client/LICENSE.txt
  recipes/biothings_client/meta.yaml
Labels: staged-recipes, review-requested

#19826 Adding `hierarchicalforecast` from PyPI
  recipes/hierarchicalforecast/meta.yaml
Labels: review-requested, python
