Repository conda-forge/staged-recipes, pull requests merged in 2022-11, with the labels that each got.

#20949 Add datascience package recipe
  recipes/datascience/meta.yaml
Labels: review-requested, python

#20957 add nanoid
  recipes/nanoid/LICENSE.txt
  recipes/nanoid/meta.yaml
Labels: staged-recipes, review-requested

#20951 Add python-on-whales recipe
  recipes/python-on-whales/meta.yaml
Labels: review-requested, python

#20958 Added recipe for `inflate64`
  recipes/inflate64/meta.yaml
Labels: staged-recipes, review-requested, python

#20950 Add fica recipe
  recipes/fica/meta.yaml
Labels: review-requested, python

#20897 Added recipe perl-file-slurp for Perl module File::Slurp
  recipes/perl-file-slurp/bld.bat
  recipes/perl-file-slurp/build.sh
  recipes/perl-file-slurp/meta.yaml
Labels: review-requested, perl

#20955 Added recipe perl-devel-assert for Perl module Devel::Assert
  recipes/perl-devel-assert/bld.bat
  recipes/perl-devel-assert/build.sh
  recipes/perl-devel-assert/meta.yaml
Labels: review-requested, perl

#20890 Add force-delete-win
  recipes/force-delete-win/LICENSE
  recipes/force-delete-win/bld.bat
  recipes/force-delete-win/meta.yaml
Labels: staged-recipes, review-requested

#20923 Add fiatlux
  recipes/fiatlux/meta.yaml
Labels: staged-recipes, review-requested

#20784 add r-ncar (with deps r-rtf and r-noncompart)
  recipes/r-ncar/bld.bat
  recipes/r-ncar/build.sh
  recipes/r-ncar/meta.yaml
  recipes/r-noncompart/bld.bat
  recipes/r-noncompart/build.sh
  recipes/r-noncompart/meta.yaml
  recipes/r-rtf/bld.bat
  recipes/r-rtf/build.sh
  recipes/r-rtf/meta.yaml
Labels: staged-recipes, review-requested

#20953 Add otter-grader recipe
  recipes/otter-grader/meta.yaml
Labels: review-requested, python

#20894 Added recipe perl-math-round for Perl module Math::Round
  recipes/perl-math-round/bld.bat
  recipes/perl-math-round/build.sh
  recipes/perl-math-round/meta.yaml
Labels: review-requested, perl

#20988 add scikit-network 0.27.1
  recipes/scikit-network/meta.yaml
  recipes/scikit-network/run_test.py
Labels: staged-recipes, review-requested, c-cpp, python, python-c

#20993 Add r-rcppml
  recipes/r-rcppml/bld.bat
  recipes/r-rcppml/build.sh
  recipes/r-rcppml/meta.yaml
Labels: staged-recipes, review-requested

#21016 Add r-dixontest
  recipes/r-dixontest/bld.bat
  recipes/r-dixontest/build.sh
  recipes/r-dixontest/meta.yaml
Labels: staged-recipes, review-requested

#21018 Add r-brisc
  recipes/r-brisc/bld.bat
  recipes/r-brisc/build.sh
  recipes/r-brisc/meta.yaml
Labels: staged-recipes, review-requested

#21002 Add r-pdfcluster
  recipes/r-pdfcluster/bld.bat
  recipes/r-pdfcluster/build.sh
  recipes/r-pdfcluster/meta.yaml
Labels: staged-recipes, review-requested

#21009 Add r-flatxml
  recipes/r-flatxml/bld.bat
  recipes/r-flatxml/build.sh
  recipes/r-flatxml/meta.yaml
Labels: staged-recipes, review-requested

#21006 Add r-logitnorm
  recipes/r-logitnorm/bld.bat
  recipes/r-logitnorm/build.sh
  recipes/r-logitnorm/meta.yaml
Labels: staged-recipes, review-requested

#21005 Add r-ttservice
  recipes/r-ttservice/bld.bat
  recipes/r-ttservice/build.sh
  recipes/r-ttservice/meta.yaml
Labels: staged-recipes, review-requested

#20995 Add r-tnet
  recipes/r-tnet/bld.bat
  recipes/r-tnet/build.sh
  recipes/r-tnet/meta.yaml
Labels: staged-recipes, review-requested

#20989 Add r-analogue
  recipes/r-analogue/bld.bat
  recipes/r-analogue/build.sh
  recipes/r-analogue/meta.yaml
Labels: staged-recipes, review-requested

#20991 Add r-fcps
  recipes/r-fcps/bld.bat
  recipes/r-fcps/build.sh
  recipes/r-fcps/meta.yaml
Labels: staged-recipes, review-requested

#21004 Add r-xroi
  recipes/r-xroi/bld.bat
  recipes/r-xroi/build.sh
  recipes/r-xroi/meta.yaml
Labels: staged-recipes, review-requested

#20994 Add r-torch
  recipes/r-torch/bld.bat
  recipes/r-torch/build.sh
  recipes/r-torch/meta.yaml
Labels: staged-recipes, review-requested

#20996 Add r-statebins
  recipes/r-statebins/bld.bat
  recipes/r-statebins/build.sh
  recipes/r-statebins/meta.yaml
Labels: staged-recipes, review-requested

#20735 Add r-svars (with dep r-steadyica)
  recipes/r-steadyica/bld.bat
  recipes/r-steadyica/build.sh
  recipes/r-steadyica/meta.yaml
  recipes/r-svars/bld.bat
  recipes/r-svars/build.sh
  recipes/r-svars/meta.yaml
Labels: R, review-requested

#21017 Add r-aods3
  recipes/r-aods3/bld.bat
  recipes/r-aods3/build.sh
  recipes/r-aods3/meta.yaml
Labels: staged-recipes, review-requested

#21014 Add r-configr
  recipes/r-configr/bld.bat
  recipes/r-configr/build.sh
  recipes/r-configr/meta.yaml
Labels: staged-recipes, review-requested

#21010 Add r-elsa
  recipes/r-elsa/bld.bat
  recipes/r-elsa/build.sh
  recipes/r-elsa/meta.yaml
Labels: staged-recipes, review-requested

#21008 Add r-ggvenn
  recipes/r-ggvenn/bld.bat
  recipes/r-ggvenn/build.sh
  recipes/r-ggvenn/meta.yaml
Labels: staged-recipes, review-requested

#21007 Add r-gson
  recipes/r-gson/bld.bat
  recipes/r-gson/build.sh
  recipes/r-gson/meta.yaml
Labels: staged-recipes, review-requested

#21003 Add r-mclustcomp
  recipes/r-mclustcomp/bld.bat
  recipes/r-mclustcomp/build.sh
  recipes/r-mclustcomp/meta.yaml
Labels: staged-recipes, review-requested

#21001 Add r-redux
  recipes/r-redux/bld.bat
  recipes/r-redux/build.sh
  recipes/r-redux/meta.yaml
Labels: staged-recipes, review-requested

#20992 Add r-isotree
  recipes/r-isotree/bld.bat
  recipes/r-isotree/build.sh
  recipes/r-isotree/meta.yaml
Labels: staged-recipes, review-requested

#20999 Add r-rjsoncons
  recipes/r-rjsoncons/bld.bat
  recipes/r-rjsoncons/build.sh
  recipes/r-rjsoncons/meta.yaml
Labels: staged-recipes, review-requested

#20800 Create recipe for reskit library
  recipes/RESKit/meta.yaml
Labels: staged-recipes, review-requested

#21021 Add lightning-utilities
  recipes/lightning-utilities/meta.yaml
Labels: review-requested, python

#21023 Added pytest-pretty as a package
  recipes/pytest-pretty/meta.yaml
Labels: staged-recipes, review-requested

#20986 Add jupyter_server_fileid
  recipes/jupyter-server-fileid/meta.yaml
Labels: review-requested, python

#21020 Add pangeo-forge-runner recipe
  recipes/pangeo-forge-runner/meta.yaml
Labels: staged-recipes, review-requested

#21019 Add r-clustercons
  recipes/r-clustercons/bld.bat
  recipes/r-clustercons/build.sh
  recipes/r-clustercons/meta.yaml
Labels: staged-recipes, review-requested

#20901 Add cryohub recipe
  recipes/cryohub/meta.yaml
Labels: staged-recipes, review-requested

#20907 Add recipes for YAML and YAML::LibYAML a.k.a. YAML::XS
  recipes/perl-spiffy/bld.bat
  recipes/perl-spiffy/build.sh
  recipes/perl-spiffy/meta.yaml
  recipes/perl-test-base/bld.bat
  recipes/perl-test-base/build.sh
  recipes/perl-test-base/meta.yaml
  recipes/perl-test-yaml/bld.bat
  recipes/perl-test-yaml/build.sh
  recipes/perl-test-yaml/meta.yaml
  recipes/perl-yaml-libyaml/bld.bat
  recipes/perl-yaml-libyaml/build.sh
  recipes/perl-yaml-libyaml/meta.yaml
  recipes/perl-yaml/bld.bat
  recipes/perl-yaml/build.sh
  recipes/perl-yaml/meta.yaml
Labels: review-requested, perl

#21037 Added cleverdict as a package
  recipes/cleverdict/meta.yaml
Labels: staged-recipes, review-requested

#21035 Added reals as a package
  recipes/reals/meta.yaml
Labels: staged-recipes, review-requested

#21030 Added django-emoji as a package
  recipes/django-emoji/meta.yaml
Labels: staged-recipes, review-requested

#19947 Add n2v recipe
  recipes/n2v/meta.yaml
Labels: staged-recipes

#20347 Add dphtools recipe
  recipes/dphtools/meta.yaml
Labels: staged-recipes, review-requested, python

#21012 Add r-matrixlaplacian
  recipes/r-matrixlaplacian/bld.bat
  recipes/r-matrixlaplacian/build.sh
  recipes/r-matrixlaplacian/meta.yaml
Labels: staged-recipes, review-requested

#21041 Add lcov_cobertura via grayskull
  recipes/lcov_cobertura/meta.yaml
Labels: review-requested, python

#21000 Add r-ridge
  recipes/r-ridge/bld.bat
  recipes/r-ridge/build.sh
  recipes/r-ridge/meta.yaml
Labels: staged-recipes, review-requested

#20963 Add perl-iterator-simple package
  recipes/perl-iterator-simple/Artistic
  recipes/perl-iterator-simple/Copying
  recipes/perl-iterator-simple/bld.bat
  recipes/perl-iterator-simple/build.sh
  recipes/perl-iterator-simple/meta.yaml
Labels: review-requested, perl

#20899 Add recipe for odc-stats
  recipes/odc-stats/meta.yaml
Labels: staged-recipes, review-requested

#20535 add snowline Laplace approximation and Importance Sampling python package for Bayesian inference
  recipes/snowline/meta.yaml
Labels: Awaiting author contribution, python-c

#20004 add r-taxonomycleanr conda recipe
  recipes/r-taxonomycleanr/bld.bat
  recipes/r-taxonomycleanr/build.sh
  recipes/r-taxonomycleanr/meta.yaml
Labels: R, staged-recipes, review-requested

#21063 Add ultimate-sitemap-parser
  recipes/ultimate-sitemap-parser/meta.yaml
Labels: staged-recipes, review-requested

#21065 Add recipe for CRAN package ghapps
  recipes/r-ghapps/bld.bat
  recipes/r-ghapps/build.sh
  recipes/r-ghapps/meta.yaml
Labels: R, review-requested

#21046 Add recipe for git-versioner
  recipes/git-versioner/LICENSE
  recipes/git-versioner/meta.yaml
Labels: review-requested, python

#21047 add auto3d
  recipes/auto3d/meta.yaml
Labels: review-requested, python

#21064 Adding the pycoxmunk package.
  recipes/pycoxmunk/meta.yaml
Labels: staged-recipes, review-requested

#21054 Add pymc-bart (grayskull)
  recipes/pymc-bart/meta.yaml
Labels: review-requested, python

#20837 Add oci (Oracle Cloud Infrastructure) from PyPI
  recipes/oci/meta.yaml
Labels: review-requested, python

#21075 add plottable
  recipes/plottable/meta.yaml
Labels: staged-recipes, review-requested

#21076 add specialist
  recipes/specialist/meta.yaml
Labels: staged-recipes, review-requested

#21071 add mypyc 0.0.2
  recipes/mypyc-ipython/conda_build_config.yaml
  recipes/mypyc-ipython/meta.yaml
  recipes/mypyc-ipython/test_mypyc_ipython.py
Labels: staged-recipes, review-requested, c-cpp, python, python-c

#20443 Adding about-time
  recipes/about-time/meta.yaml
  recipes/about-time/setup-with-encoding.patch
Labels: review-requested, python

#20948 Adding hvpy Python package
  recipes/hvpy/meta.yaml
Labels: review-requested, python

#21070 adds r-spatstat.explore
  recipes/r-spatstat.explore/bld.bat
  recipes/r-spatstat.explore/build.sh
  recipes/r-spatstat.explore/meta.yaml
Labels: R, review-requested

#21049 Add Recipe for AutoKeras
  recipes/autokeras/meta.yaml
Labels: review-requested, python

#21089 adds r-spatstat.model
  recipes/r-spatstat.model/bld.bat
  recipes/r-spatstat.model/build.sh
  recipes/r-spatstat.model/meta.yaml
Labels: R, review-requested

#20904 Added recipe perl-readonly for Perl module Readonly and its deps
  recipes/perl-extutils-config/bld.bat
  recipes/perl-extutils-config/build.sh
  recipes/perl-extutils-config/meta.yaml
  recipes/perl-extutils-helpers/bld.bat
  recipes/perl-extutils-helpers/build.sh
  recipes/perl-extutils-helpers/meta.yaml
  recipes/perl-extutils-installpaths/bld.bat
  recipes/perl-extutils-installpaths/build.sh
  recipes/perl-extutils-installpaths/meta.yaml
  recipes/perl-extutils-pl2bat/bld.bat
  recipes/perl-extutils-pl2bat/build.sh
  recipes/perl-extutils-pl2bat/meta.yaml
  recipes/perl-module-build-tiny/bld.bat
  recipes/perl-module-build-tiny/build.sh
  recipes/perl-module-build-tiny/meta.yaml
  recipes/perl-readonly/bld.bat
  recipes/perl-readonly/build.sh
  recipes/perl-readonly/meta.yaml
Labels: review-requested, perl

#21097 Add recipe for drf-dynamic-fields
  recipes/drf-dynamic-fields/meta.yaml
Labels: staged-recipes, review-requested

#21083 Add recipe for pyphonetics
  recipes/pyphonetics/meta.yaml
Labels: review-requested, python

#21101 Add recipe for launchdarkly-server-sdk
  recipes/launchdarkly-server-sdk/meta.yaml
Labels: staged-recipes, review-requested

#21100 Add recipe for rules
  recipes/rules/meta.yaml
Labels: staged-recipes, review-requested

#21099 Add recipe for drf-generators
  recipes/drf-generators/LICENSE
  recipes/drf-generators/meta.yaml
Labels: staged-recipes, review-requested

#21093 Add recipe for xmljson
  recipes/xmljson/meta.yaml
Labels: staged-recipes, review-requested

#21094 Add recipe for boxing
  recipes/boxing/LICENSE
  recipes/boxing/meta.yaml
Labels: staged-recipes, review-requested

#21095 Add recipe for django-ranged-fileresponse
  recipes/django-ranged-fileresponse/LICENSE
  recipes/django-ranged-fileresponse/meta.yaml
Labels: staged-recipes, review-requested

#21096 Add recipe for django-user-agents
  recipes/django-user-agents/meta.yaml
Labels: staged-recipes, review-requested

#21098 Add recipe for drf-flex-fields
  recipes/drf-flex-fields/meta.yaml
Labels: staged-recipes, review-requested

#21104 Add "lightpath" package
  recipes/lightpath/meta.yaml
Labels: review-requested, python

#21090 grayskull pypi fastapi-oidc
  recipes/fastapi-oidc/meta.yaml
Labels: review-requested, python

#21109 Add RoboMeshCat package
  recipes/RoboMeshCat/meta.yaml
Labels: staged-recipes, review-requested, python

#21086 Add `openff-models` recipe
  recipes/openff-models/meta.yaml
Labels: review-requested, python

#21082 Adding lotterycn
  recipes/lotterycn/meta.yaml
Labels: review-requested, python

#21115 add autocommand package
  recipes/autocommand/meta.yaml
Labels: staged-recipes, review-requested

#20954 Add DCMTK recipe
  recipes/dcmtk/bld.bat
  recipes/dcmtk/build.sh
  recipes/dcmtk/meta.yaml
Labels: review-requested, c-cpp, bioconda

#20896 Added recipe perl-io-pager for Perl module IO::Pager (and deps)
  recipes/perl-io-pager/bld.bat
  recipes/perl-io-pager/build.sh
  recipes/perl-io-pager/meta.yaml
  recipes/perl-termreadkey/bld.bat
  recipes/perl-termreadkey/build.sh
  recipes/perl-termreadkey/meta.yaml
Labels: review-requested, perl

#20445 Add Fortnet recipe
  recipes/fortnet/build.sh
  recipes/fortnet/conda_build_config.yaml
  recipes/fortnet/meta.yaml
Labels: Awaiting author contribution, staged-recipes, c-cpp

#21126 Koda
  recipes/koda/meta.yaml
Labels: staged-recipes, review-requested

#21127 Added dictdatabase as a package
  recipes/dictdatabase/meta.yaml
Labels: staged-recipes, review-requested

#21128 Added flastapi as a package
  recipes/flastapi/meta.yaml
Labels: staged-recipes, review-requested

#21114 Added recipe for torchview
  recipes/torchview/meta.yaml
Labels: staged-recipes, review-requested

#21145 Add mssql-django Recipe
  recipes/mssql-django/meta.yaml
Labels: staged-recipes, review-requested

#21153 Add compress-pickle
  recipes/compress-pickle/meta.yaml
Labels: staged-recipes, review-requested

#21150 Add Import-Linter w Grimp
  recipes/grimp/meta.yaml
  recipes/import-linter/meta.yaml
Labels: staged-recipes, review-requested

#21149 Add django-jsontore Recipe
  recipes/django-jsonstore/meta.yaml
Labels: staged-recipes, review-requested

#21148 Add django-silk recipe
  recipes/django-silk/meta.yaml
Labels: staged-recipes, review-requested

#21147 Add drf-spectacular-sidecar recipe
  recipes/drf-spectacular-sidecar/meta.yaml
Labels: staged-recipes, review-requested

#21146 Add djangorestframework-jsonapi recipe
  recipes/djangorestframework-jsonapi/meta.yaml
Labels: staged-recipes, review-requested

#21152 Add Recipe trufflehogregexes and trufflehog
  recipes/trufflehog/LICENSE
  recipes/trufflehog/meta.yaml
  recipes/trufflehogregexes/LICENSE
  recipes/trufflehogregexes/meta.yaml
Labels: staged-recipes, review-requested

#21084 Add recipe for python-io-wrapper
  recipes/python-io-wrapper/meta.yaml
Labels: review-requested, python

#21119 Add recipe for xlrd3
  recipes/xlrd3/meta.yaml
Labels: review-requested, python

#21117 add meta.yml for virocon
  recipes/virocon/meta.yaml
Labels: review-requested, python

#21144 add hatch-mypyc 0.14.0
  recipes/hatch-mypyc/0000-test-as-installed.patch
  recipes/hatch-mypyc/meta.yaml
Labels: staged-recipes, review-requested, python, python-c

#20895 Added recipe perl-io-null for Perl module IO::Null
  recipes/perl-io-null/bld.bat
  recipes/perl-io-null/build.sh
  recipes/perl-io-null/meta.yaml
Labels: review-requested, perl

#20893 Added recipe perl-ipc-system-simple for Perl module IPC::System::Simple
  recipes/perl-ipc-system-simple/bld.bat
  recipes/perl-ipc-system-simple/build.sh
  recipes/perl-ipc-system-simple/meta.yaml
Labels: review-requested, perl

#21166 Add django-filebrowser 3.14
  recipes/django-filebrowser/meta.yaml
Labels: staged-recipes, review-requested

#21167 add pygeofilter
  recipes/pygeofilter/meta.yaml
Labels: staged-recipes, review-requested

#21085 Add WecOptTool
  recipes/wecopttool/meta.yaml
Labels: review-requested, python

#21159 Add recipe for quantulum3
  recipes/quantulum3/meta.yaml
Labels: review-requested, python

#21171 adds r-cvar and r-gbutils
  recipes/r-cvar/bld.bat
  recipes/r-cvar/build.sh
  recipes/r-cvar/meta.yaml
  recipes/r-gbutils/bld.bat
  recipes/r-gbutils/build.sh
  recipes/r-gbutils/meta.yaml
Labels: R, review-requested

#20919 Add recipe r-emlassemblyline
  recipes/r-emlassemblyline/bld.bat
  recipes/r-emlassemblyline/build.sh
  recipes/r-emlassemblyline/meta.yaml
Labels: R, staged-recipes, review-requested

#20908 Added recipe perl-clone for Perl module Clone
  recipes/perl-clone/bld.bat
  recipes/perl-clone/build.sh
  recipes/perl-clone/meta.yaml
Labels: review-requested, perl

#21176 Add linux-perf, libnuma and numactl
  recipes/linux-perf/build.sh
  recipes/linux-perf/meta.yaml
  recipes/numactl/build.sh
  recipes/numactl/install-libnuma.sh
  recipes/numactl/install-numactl.sh
  recipes/numactl/meta.yaml
Labels: staged-recipes, review-requested

#21179 Add pytest-subprocess
  recipes/pytest-subprocess/meta.yaml
Labels: review-requested, python

#21178 Add go-yq
  recipes/go-yq/meta.yaml
Labels: staged-recipes, review-requested

#20835 Add recipe for fpm-metadata
  recipes/fpm-metadata/build_python.sh
  recipes/fpm-metadata/meta.yaml
Labels: review-requested, python

#20831 Add recipe for pytorch-warmup
  recipes/pytorch-warmup/build_python.sh
  recipes/pytorch-warmup/meta.yaml
Labels: review-requested, python

#21187 Add r-bigd, r-juicyjuice
  recipes/r-bigd/bld.bat
  recipes/r-bigd/build.sh
  recipes/r-bigd/meta.yaml
  recipes/r-juicyjuice/bld.bat
  recipes/r-juicyjuice/build.sh
  recipes/r-juicyjuice/meta.yaml
Labels: R, review-requested

#21189 Add libqrencode
  recipes/libqrencode/build.sh
  recipes/libqrencode/meta.yaml
Labels: staged-recipes, review-requested

#21175 CREATE recipe for benchling api client
  recipes/benchling-api-client/meta.yaml
Labels: review-requested, python

#21174 Add pyddx
  recipes/pyddx/meta.yaml
Labels: review-requested, python-c

#21193 Added starlette-context as a pacakge
  recipes/starlette-context/meta.yaml
Labels: staged-recipes, review-requested

#20860 Create Virtual dataframe Release candidat package
  recipes/virtual_dataframe/meta.yaml
Labels: Awaiting author contribution, python

#21194 adds r-modelenv
  recipes/r-modelenv/bld.bat
  recipes/r-modelenv/build.sh
  recipes/r-modelenv/meta.yaml
Labels: R, review-requested

#21198 Add esi
  recipes/esi-core/meta.yaml
  recipes/esi-extern-openquake/meta.yaml
  recipes/esi-utils-colors/meta.yaml
  recipes/esi-utils-io/meta.yaml
  recipes/esi-utils-rupture/meta.yaml
  recipes/esi-utils-time/meta.yaml
  recipes/esi-utils-vectors/meta.yaml
Labels: staged-recipes, review-requested

#21200 add jupyter_server_terminals 0.4.0
  recipes/jupyter_server_terminals/meta.yaml
Labels: staged-recipes, review-requested, python

#21201 Added txtai as a package
  recipes/txtai/LICENSE
  recipes/txtai/meta.yaml
Labels: staged-recipes, review-requested

#21157 Django fsm admin
  recipes/django-fsm-admin/meta.yaml
Labels: staged-recipes, review-requested

#21158 Django fsm log
  recipes/django-fsm-log/meta.yaml
Labels: staged-recipes, review-requested

#21196 Add skope-rules, scikit-learn contrib package
  recipes/skope-rules/COPYING
  recipes/skope-rules/license.txt
  recipes/skope-rules/meta.yaml
Labels: staged-recipes, review-requested

#21197 Add objsize
  recipes/objsize/meta.yaml
Labels: review-requested, python

#21211 Added scikit-partial as a package
  recipes/scikit-partial/LICENSE
  recipes/scikit-partial/meta.yaml
Labels: staged-recipes, review-requested

#21213 Added cython-lint as a package
  recipes/cython-lint/meta.yaml
Labels: staged-recipes, review-requested

#21206 Added bulk as a package
  recipes/bulk/meta.yaml
Labels: staged-recipes, review-requested

#21204 Added mktestdocs as a package
  recipes/mktestdocs/LICENSE
  recipes/mktestdocs/meta.yaml
Labels: staged-recipes, review-requested

#21202 Added cartwright as a package
  recipes/cartwright/meta.yaml
Labels: staged-recipes, review-requested

#21170 Add gnuradio-m2k
  recipes/gnuradio-m2k/bld.bat
  recipes/gnuradio-m2k/build.sh
  recipes/gnuradio-m2k/meta.yaml
Labels: review-requested, python-c

#20971 Add sphinx-pydantic
  recipes/sphinx-pydantic/LICENSE.txt
  recipes/sphinx-pydantic/meta.yaml
Labels: review-requested, python

#20886 add supabase client
  recipes/gotrue/meta.yaml
  recipes/postgrest/meta.yaml
  recipes/realtime/meta.yaml
  recipes/storage3/meta.yaml
  recipes/supabase/meta.yaml
  recipes/supafunc/meta.yaml
Labels: review-requested, python

#21215 Add zimg
  recipes/zimg/bld.bat
  recipes/zimg/build.sh
  recipes/zimg/meta.yaml
Labels: review-requested, c-cpp

#21188 Adding CAF.Toolkit
  recipes/caf.toolkit/meta.yaml
Labels: staged-recipes, review-requested

#21212 Added redbox as a package
  recipes/redbox/meta.yaml
Labels: staged-recipes, review-requested

#21139 Added recipe perl-test-nowarnings for Perl module Test::NoWarnings
  recipes/perl-test-nowarnings/bld.bat
  recipes/perl-test-nowarnings/build.sh
  recipes/perl-test-nowarnings/meta.yaml
Labels: review-requested, perl

#19895 add autoboost
  recipes/autoboost/meta.yaml
Labels: Awaiting author contribution, python

#21216 Add numpy-allocator
  recipes/numpy-allocator/fix_initializer_for_windows.patch
  recipes/numpy-allocator/meta.yaml
Labels: review-requested

#21232 add types-jsonschema 4.17.0.1
  recipes/types-jsonschema/meta.yaml
Labels: staged-recipes, review-requested, python
