Repository conda-forge/staged-recipes, pull requests merged in 2022-12, with the labels that each got.

#21390 Add architector
  recipes/architector/meta.yaml
Labels: staged-recipes, review-requested

#21394 Add kaggle-environments
  recipes/kaggle-environments/meta.yaml
Labels: review-requested, python

#21387 Add gladier, gladier-tools, globus-automate-client
  recipes/gladier-tools/LICENSE
  recipes/gladier-tools/meta.yaml
  recipes/gladier/meta.yaml
  recipes/globus-automate-client/meta.yaml
Labels: review-requested, python

#21370 Add iwopy package
  recipes/iwopy/meta.yaml
Labels: review-requested, python

#21367 Add realalg
  recipes/realalg/meta.yaml
Labels: review-requested, python

#20964 Adding `moe_mediafile`
  recipes/moe_mediafile/meta.yaml
Labels: review-requested, python

#21237 Add recipe for xradarSat2
  recipes/xradarSat2/meta.yaml
Labels: staged-recipes, review-requested, python

#21183 Add recipe for adios_db package
  recipes/adios_db/LICENSE.txt
  recipes/adios_db/meta.yaml
Labels: Awaiting author contribution, python

#21228 Adding a recipe for SOXS
  recipes/soxs/meta.yaml
Labels: review-requested, python-c

#20574 Add versionparsing.jl recipe
  recipes/versionparsing.jl/build.jl
  recipes/versionparsing.jl/build_base.sh
  recipes/versionparsing.jl/meta.yaml
  recipes/versionparsing.jl/scripts/activate.sh
  recipes/versionparsing.jl/scripts/deactivate.sh
Labels: review-requested, julia

#21302 Added r-visitime as a package
  recipes/r-vistime/bld.bat
  recipes/r-vistime/build.sh
  recipes/r-vistime/meta.yaml
Labels: R, staged-recipes, review-requested

#21419 Asttrs
  recipes/asttrs/meta.yaml
Labels: staged-recipes, review-requested

#21427 add lsprotocol 2022.0.0a9
  recipes/lsprotocol/meta.yaml
Labels: staged-recipes, review-requested, python

#21436 Recipe for envier
  recipes/envier/meta.yaml
Labels: staged-recipes, review-requested

#21421 added recipe for `bids-validator`
  recipes/bids-validator/meta.yaml
Labels: staged-recipes, review-requested, python

#21440 Add AirFly Recipe
  recipes/airfly/meta.yaml
Labels: staged-recipes, review-requested

#21416 Add airflow-provider-xlsx 1.0.1
  recipes/airflow-provider-xlsx/meta.yaml
Labels: review-requested, python

#20025 added kedro-airflow
  recipes/kedro-airflow/LICENSE.md
  recipes/kedro-airflow/meta.yaml
Labels: staged-recipes, review-requested, python

#21420 add pydorado
  recipes/pydorado/meta.yaml
Labels: review-requested, python

#21366 Add linkchecker
  recipes/linkchecker/meta.yaml
Labels: review-requested, python

#20545 Added recipe for 'genv' and 'jupyterlab_genv'
  recipes/genv/activate.sh
  recipes/genv/build.sh
  recipes/genv/deactivate.sh
  recipes/genv/meta.yaml
  recipes/jupyterlab_genv/meta.yaml
Labels: Awaiting author contribution, python

#20643 Add igwn-lldd-common and igwn-lldd-fdio
  recipes/igwn-lldd-common/meta.yaml
  recipes/igwn-lldd-fdio/meta.yaml
Labels: Awaiting author contribution, python

#21453 Add anaconda-clean
  recipes/anaconda-clean/meta.yaml
Labels: review-requested, python

#21458 Add recipe for label-studio-tools
  recipes/label-studio-tools/LICENSE
  recipes/label-studio-tools/meta.yaml
Labels: staged-recipes, review-requested

#21429 Add recipe for duecredit
  recipes/duecredit/meta.yaml
Labels: Awaiting author contribution, python

#21448 add recipe for ptac
  recipes/ptac/meta.yaml
Labels: review-requested, python

#21455 add recipe of the sott package
  recipes/sott/meta.yaml
Labels: staged-recipes, review-requested

#21451 Create directory linter
  .github/workflows/correct_directory.yml
  .github/workflows/do_not_edit_example.yml
Labels: maintenance

#21432 Add recipes for pgvector and pgvector-python
  recipes/pgvector-python/meta.yaml
  recipes/pgvector/bld.bat
  recipes/pgvector/build.sh
  recipes/pgvector/conda_build_config.yaml
  recipes/pgvector/meta.yaml
  recipes/pgvector/patches/0001-Add-CMake-build.patch
Labels: staged-recipes, review-requested

#21402 Add hippynn
  recipes/hippynn/conda_build_config.yaml
  recipes/hippynn/meta.yaml
Labels: review-requested, python

#21468 add pyproject-api 1.2.1
  recipes/pyproject-api/meta.yaml
Labels: staged-recipes, review-requested, python

#19664 add ale-py
  recipes/ale-py/bld.bat
  recipes/ale-py/build.sh
  recipes/ale-py/conda_build_config.yaml
  recipes/ale-py/meta.yaml
  recipes/ale-py/patches/0001-unconditionally-use-ninja.patch
  recipes/ale-py/patches/0002-unvendor-pybind11.patch
  recipes/ale-py/patches/0003-build-shared-libs.patch
  recipes/ale-py/patches/0004-avoid-vcpkg-toolchain.patch
  recipes/ale-py/patches/0005-fix-python-executable.patch
  recipes/ale-py/patches/0006-fix-installation-on-windows.patch
Labels: review-requested, python-c

#21469 add time-machine 2.8.2
  recipes/time-machine/meta.yaml
Labels: staged-recipes, review-requested, python, python-c

#21459 Adding gpyreg
  recipes/gpyreg/meta.yaml
Labels: Awaiting author contribution, python

#21346 Add pyessv recipe
  recipes/pyessv/meta.yaml
Labels: Awaiting author contribution, python

#21460 Add recipe for pymt_soilgrids
  recipes/pymt_soilgrids/meta.yaml
Labels: staged-recipes, review-requested

#21483 gymnasium-notices
  recipes/gymnasium-notices/meta.yaml
Labels: staged-recipes, review-requested

#21481 Added causalpy as a package
  recipes/causalpy/meta.yaml
Labels: staged-recipes, review-requested

#21477 Add focal-loss recipe
  recipes/focal-loss/LICENSE
  recipes/focal-loss/meta.yaml
Labels: staged-recipes, review-requested

#21476 Add nxmx recipe
  recipes/nxmx/meta.yaml
Labels: review-requested, python

#21473 Add csv-diff recipe
  recipes/csv-diff/LICENSE
  recipes/csv-diff/meta.yaml
Labels: review-requested, python

#21422 added recipe for `pybids`
  recipes/pybids/meta.yaml
Labels: staged-recipes, review-requested, python

#21461 Adding pyvbmc
  recipes/pyvbmc/meta.yaml
Labels: review-requested, python

#21061 add recipe for pvWebMonitor
  recipes/pvWebMonitor/meta.yaml
Labels: staged-recipes, review-requested, python

#21485 Added gymnasium as a package
  recipes/gymnasium/meta.yaml
Labels: staged-recipes, review-requested

#21488 Added shimmy as a package
  recipes/shimmy/LICENSE
  recipes/shimmy/meta.yaml
Labels: staged-recipes, review-requested

#21036 adding parallelproj package
  recipes/parallelproj/bld.bat
  recipes/parallelproj/build.sh
  recipes/parallelproj/meta.yaml
Labels: Awaiting author contribution, c-cpp

#21055 Add PcapPlusPlus
  recipes/pcapplusplus/build-lib.sh
  recipes/pcapplusplus/meta.yaml
Labels: staged-recipes, review-requested, c-cpp

#21507 Export CPU count for faster local builds
  .scripts/run_docker_build.sh
Labels: review-requested

#21504 Add recipe for calver and trove-classifiers
  recipes/calver/meta.yaml
  recipes/trove-classifiers/meta.yaml
Labels: review-requested, python

#21497 Add skranger
  recipes/skranger/meta.yaml
Labels: staged-recipes, review-requested

#21478 add pymatgen-analysis-defects
  recipes/pymatgen-analysis-defects/meta.yaml
Labels: review-requested, python

#21509 Add sqlalchemy-databricks
  recipes/sqlalchemy-databricks/meta.yaml
Labels: staged-recipes, review-requested

#21493 Added django-relativity as a package
  recipes/django-relativity/meta.yaml
Labels: staged-recipes, review-requested

#21039 Committing recipe for conda-forge release of pdffit2
  recipes/diffpy.pdffit2/meta.yaml
Labels: review-requested, python

#21510 Add sparktorch recipe
  recipes/sparktorch/LICENSE
  recipes/sparktorch/meta.yaml
Labels: staged-recipes, review-requested

#19665 add pygame
  recipes/portmidi/bld.bat
  recipes/portmidi/build.sh
  recipes/portmidi/conda_build_config.yaml
  recipes/portmidi/meta.yaml
  recipes/pygame/meta.yaml
  recipes/pygame/patches/0001-use-DLLs-from-conda-forge.patch
  recipes/pygame/patches/0002-fix-PREFIX-handling-on-OSX.patch
  recipes/pygame/patches/0003-try-to-fix-whacky-search-patterns-for-windows.patch
  recipes/pygame/patches/0004-do-not-copy-DLLs.patch
  recipes/pygame/patches/0005-avoid-downloading-stuff-despite-auto_download-False.patch
  recipes/pygame/patches/0006-add-some-more-display-tags-to-tests-modules.patch
  recipes/pygame/patches/0007-mark-docs-test-broken.patch
  recipes/pygame/patches/0008-fix-strict-prototype.patch
  recipes/pygame/patches/0009-skip-some-specific-warnings-on-linux-osx.patch
Labels: review-requested, python-c

#21501 add devpi-(process|client|server)
  recipes/devpi-client/meta.yaml
  recipes/devpi-process/meta.yaml
  recipes/devpi-server/meta.yaml
Labels: staged-recipes, review-requested, python

#21492 Add Shapash Recipe
  recipes/shapash/meta.yaml
Labels: staged-recipes, review-requested

#21474 Added cpuid-native as a package
  recipes/cpuid-native/LICENSE
  recipes/cpuid-native/meta.yaml
Labels: staged-recipes, review-requested, python-c

#21511 add r-ggstats
  recipes/r-ggstats/bld.bat
  recipes/r-ggstats/build.sh
  recipes/r-ggstats/meta.yaml
Labels: staged-recipes, review-requested

#21489 Added jax-jumpy as a package
  recipes/jax-jumpy/meta.yaml
Labels: staged-recipes, review-requested

#21490 Create OmniXAI Recipe
  recipes/OmniXAI/meta.yaml
Labels: staged-recipes, review-requested

#21480 Add loop-rate-limiters recipe
  recipes/loop-rate-limiters/meta.yaml
Labels: staged-recipes, review-requested

#21487 Addede faqtory as a package
  recipes/faqtory/meta.yaml
Labels: staged-recipes, review-requested

#21498 Add dash-editor-components
  recipes/dash-editor-components/meta.yaml
Labels: staged-recipes, review-requested

#21345 Added autoregistry as a package
  recipes/autoregistry/meta.yaml
Labels: review-requested, python

#21515 feat: add mofdscribe
  recipes/mofdscribe/meta.yaml
Labels: review-requested, python

#21516 feat: add moffragmentor
  recipes/moffragmentor/meta.yaml
Labels: review-requested, python

#21261 Add FERC XBRL to SQLite data extractor
  recipes/arelle-release/meta.yaml
  recipes/catalystcoop.ferc-xbrl-extractor/meta.yaml
Labels: staged-recipes, review-requested

#21500 Openmetadata airflow managed apis
  recipes/commonregex/LICENSE
  recipes/commonregex/meta.yaml
  recipes/openmetadata-airflow-managed-apis/LICENSE
  recipes/openmetadata-airflow-managed-apis/meta.yaml
  recipes/openmetadata-ingestion/meta.yaml
  recipes/openmetadata-managed-apis/LICENSE
  recipes/openmetadata-managed-apis/meta.yaml
Labels: staged-recipes, review-requested

#21529 add compositionspace
  recipes/compositionspace/meta.yaml
Labels: staged-recipes, review-requested

#21243 Add sphinx-mdinclude
  recipes/sphinx-mdinclude/meta.yaml
Labels: review-requested, python

#21457 Add r kml3d
  recipes/r-kml3d/bld.bat
  recipes/r-kml3d/build.sh
  recipes/r-kml3d/meta.yaml
  recipes/r-kml3d/yum_requirements.txt
Labels: R, review-requested

#21519 add r-groupdata2
  recipes/r-groupdata2/bld.bat
  recipes/r-groupdata2/build.sh
  recipes/r-groupdata2/meta.yaml
Labels: R, review-requested

#21530 Package fps-resource-usage
  recipes/fps-resource-usage/meta.yaml
Labels: review-requested, python

#21438 Add py-channelmodel recipe
  recipes/py-channelmodel/meta.yaml
Labels: review-requested, python

#21534 Add django-url-filter
  recipes/django-url-filter/meta.yaml
Labels: staged-recipes, review-requested

#21535 add recipe ofr decorrelation package
  recipes/decorrelation/meta.yaml
Labels: staged-recipes, review-requested

#21528 Add recipe for xlandsat
  recipes/xlandsat/meta.yaml
Labels: review-requested, python

#21231 add "sepal-ui" to conda-forge
  recipes/sepal-ui/conda_build_config.yaml
  recipes/sepal-ui/meta.yaml
Labels: Awaiting author contribution, python

#21557 Add dirsync
  recipes/dirsync/meta.yaml
Labels: staged-recipes, review-requested

#21558 Add PyNLDAS2
  recipes/pynldas2/meta.yaml
Labels: staged-recipes, review-requested

#21550 Add pytest-asyncio-cooperative recipe
  recipes/pytest-asyncio-cooperative/LICENSE
  recipes/pytest-asyncio-cooperative/meta.yaml
Labels: staged-recipes, review-requested

#21424 Add DALL-E, blobfile
  recipes/DALL-E/meta.yaml
  recipes/blobfile/meta.yaml
Labels: review-requested, python

#21560 Added python-yakh as a package
  recipes/python-yakh/meta.yaml
Labels: staged-recipes, review-requested

#21208 Add uutils coreutils
  recipes/uutils/0001-FIX_BUILDDIR_IN_MAKE.patch
  recipes/uutils/0002-SHORTEN_SH_COMMANDS.patch
  recipes/uutils/bld.bat
  recipes/uutils/build.sh
  recipes/uutils/meta.yaml
Labels: staged-recipes, review-requested, c-cpp, rust

#21555 Adding lgensinger/pkgparser
  recipes/pkgparser/meta.yaml
Labels: review-requested, python

#21561 Added cpuid as a package
  recipes/cpuid/0001-remove-readme.patch
  recipes/cpuid/LICENSE
  recipes/cpuid/meta.yaml
Labels: staged-recipes, review-requested

#21567 add r-ggbreak
  recipes/r-ggbreak/bld.bat
  recipes/r-ggbreak/build.sh
  recipes/r-ggbreak/meta.yaml
Labels: R, review-requested

#21258 Add indexed_bzip2
  recipes/indexed_bzip2/THIRDPARTY.yml
  recipes/indexed_bzip2/meta.yaml
Labels: review-requested, python-c

#21553 add pynimate
  recipes/pynimate/meta.yaml
Labels: staged-recipes, review-requested

#20921 Add recipe for `sphinxcontrib-jquery`
  recipes/sphinxcontrib-jquery/meta.yaml
  recipes/sphinxcontrib-jquery/vendor-licenses/LICENSE.txt
Labels: staged-recipes, review-requested, java, python

#21554 Add pyedr recipe
  recipes/pyedr/meta.yaml
Labels: review-requested, python

#21568 Add pycirclize
  recipes/pycirclize/meta.yaml
Labels: staged-recipes, review-requested

#21575 Add ctapipe_io_lst recipe
  recipes/ctapipe_io_lst/meta.yaml
Labels: review-requested, python

#21397 Add tango-astor recipe
  recipes/tango-astor/astor.bat
  recipes/tango-astor/bld.bat
  recipes/tango-astor/build.sh
  recipes/tango-astor/meta.yaml
Labels: staged-recipes, review-requested, java

#21247 Add theseus-ai via grayskull
  recipes/theseus-ai/build.sh
  recipes/theseus-ai/meta.yaml
Labels: review-requested, python, python-c

#21465 adding ssh crypt
  recipes/ssh-crypt/meta.yaml
Labels: Awaiting author contribution, python

#18711 Add portray
  recipes/portray/meta.yaml
Labels: review-requested, python

#21542 Added pigeonxt-jupyter as a package
  recipes/pigeonxt-jupyter/meta.yaml
Labels: staged-recipes, review-requested

#21518 Add dataprofiler 0.8.5
  recipes/DataProfiler/meta.yaml
Labels: staged-recipes, review-requested

#21562 Initial commit for this recipe
  recipes/esi-utils-cartopy/meta.yaml
Labels: review-requested, python

#21512 Add recipe for labmaze
  recipes/labmaze/bld.bat
  recipes/labmaze/build.sh
  recipes/labmaze/meta.yaml
  recipes/labmaze/unvendor_deps.patch
Labels: Awaiting author contribution, c-cpp

#21591 Add recipe for intake-satpy
  recipes/intake-satpy/meta.yaml
Labels: review-requested, python

#21581 Unlzw3 add conda recipe
  recipes/unlzw3/meta.yaml
Labels: review-requested, python

#21598 Add marshmallow3-annotations
  recipes/marshmallow3-annotations/meta.yaml
Labels: staged-recipes, review-requested

#21543 Add soapysdr-module-volk-converters
  recipes/soapysdr-module-volk-converters/bld.bat
  recipes/soapysdr-module-volk-converters/build.sh
  recipes/soapysdr-module-volk-converters/meta.yaml
Labels: review-requested, c-cpp

#21225 Adding `lovely-tensors` and `lovely-jax` from PyPI
  recipes/lovely-jax/meta.yaml
  recipes/lovely-tensors/meta.yaml
Labels: python

#21592 Adding ewah bool utils
  recipes/ewah-bool-utils/meta.yaml
Labels: staged-recipes, review-requested

#21062 Add lenstool recipe, and build scripts
  recipes/lenstool/LICENSE
  recipes/lenstool/build.sh
  recipes/lenstool/meta.yaml
Labels: staged-recipes, review-requested

#21608 Apache Atlas Python Client
  recipes/apache-atlas/meta.yaml
Labels: staged-recipes, review-requested

#21607 Add amundsen-rds
  recipes/amundsen-rds/LICENSE
  recipes/amundsen-rds/meta.yaml
Labels: staged-recipes, review-requested

#21599 Add amundsen-common
  recipes/amundsen-common/LICENSE
  recipes/amundsen-common/NOTICE
  recipes/amundsen-common/meta.yaml
Labels: staged-recipes, review-requested

#21606 Add Install jdk
  recipes/install-jdk/LICENSE.md
  recipes/install-jdk/meta.yaml
Labels: staged-recipes, review-requested

#21446 Add cinnabar
  recipes/cinnabar/meta.yaml
Labels: review-requested, python

#21546 Add rtaudio and soapysdr-module-audio
  recipes/rtaudio/bld.bat
  recipes/rtaudio/build.sh
  recipes/rtaudio/meta.yaml
  recipes/soapysdr-module-audio/bld.bat
  recipes/soapysdr-module-audio/build.sh
  recipes/soapysdr-module-audio/meta.yaml
Labels: review-requested, c-cpp

#21545 Add soapysdr-module-netsdr
  recipes/soapysdr-module-netsdr/bld.bat
  recipes/soapysdr-module-netsdr/build.sh
  recipes/soapysdr-module-netsdr/meta.yaml
Labels: review-requested, c-cpp

#20900 Add napari-n2v recipe
  recipes/napari-n2v/meta.yaml
  recipes/napari-n2v/yum_requirements.txt
Labels: python

#20840 Add morphometrics-engine recipe
  recipes/morphometrics-engine/meta.yaml
  recipes/morphometrics-engine/yum_requirements.txt
Labels: Awaiting author contribution, python

#20843 Add napari-filament-annotator recipe
  recipes/napari-filament-annotator/meta.yaml
  recipes/napari-filament-annotator/yum_requirements.txt
Labels: Awaiting author contribution, python
