Repository conda-forge/staged-recipes, pull requests merged in 2022-09, with the labels that each got.

#20187 Add reretry recipe
  recipes/reretry/meta.yaml
Labels: review-requested, python

#20266 Adding onnx2torch
  recipes/onnx2torch/meta.yaml
Labels: staged-recipes, review-requested

#20269 add delvewheel
  recipes/delvewheel/meta.yaml
  recipes/machomachomangler/meta.yaml
Labels: staged-recipes, review-requested

#20197 Add coloraide
  recipes/coloraide/LICENSE.md
  recipes/coloraide/meta.yaml
Labels: review-requested, python

#20268 Package fief-client[fastapi]
  recipes/fief-client-fastapi/meta.yaml
Labels: review-requested, python

#20271 Add babeltrace
  recipes/babeltrace/build.sh
  recipes/babeltrace/meta.yaml
Labels: review-requested, c-cpp

#20253 Added r-psychometric as a package
  recipes/r-psychometric/bld.bat
  recipes/r-psychometric/build.sh
  recipes/r-psychometric/meta.yaml
Labels: R, staged-recipes, review-requested

#20251 Added r-lmperm as a package
  recipes/r-lmperm/bld.bat
  recipes/r-lmperm/build.sh
  recipes/r-lmperm/meta.yaml
Labels: R, staged-recipes, review-requested

#20249 Added r-BUCSS as a package
  recipes/r-bucss/bld.bat
  recipes/r-bucss/build.sh
  recipes/r-bucss/meta.yaml
Labels: R, staged-recipes, review-requested

#20281 add jsonschema-spec 0.1.1
  recipes/jsonschema-spec/meta.yaml
Labels: staged-recipes, review-requested, python

#16212 Add udocker
  recipes/udocker/meta.yaml
  recipes/udocker/setup.py.patch
Labels: staged-recipes, review-requested, python

#19970 Add cwl-upgrader
  recipes/cwl-upgrader/meta.yaml
Labels: staged-recipes, review-requested, python

#19994 add hart-protocol
  recipes/hart-protocol/meta.yaml
Labels: review-requested, python

#20100 Add RAiDER recipe
  recipes/raider/meta.yaml
Labels: review-requested, python-c

#20106 Adding shell-source
  recipes/shell-source/meta.yaml
Labels: review-requested, python

#20219 Add recipe for librobometry
  recipes/librobometry/bld.bat
  recipes/librobometry/build.sh
  recipes/librobometry/conda_build_config.yaml
  recipes/librobometry/meta.yaml
Labels: review-requested, c-cpp

#20270 add pynormaliz
  recipes/pynormaliz/meta.yaml
Labels: staged-recipes, review-requested

#20308 Add r-hypetools recipe
  recipes/r-hypetools/bld.bat
  recipes/r-hypetools/build.sh
  recipes/r-hypetools/meta.yaml
Labels: R, staged-recipes, review-requested

#20275 add algviz recipe
  recipes/algviz/LICENSE
  recipes/algviz/meta.yaml
Labels: staged-recipes, review-requested

#20302 Added rubicon-objc as a package
  recipes/rubicon-objc/meta.yaml
Labels: staged-recipes, review-requested

#20267 Add ArcCommander
  recipes/arccommander/LICENSE.txt
  recipes/arccommander/arc.bat
  recipes/arccommander/arc.sh
  recipes/arccommander/bld.bat
  recipes/arccommander/build.sh
  recipes/arccommander/meta.yaml
Labels: staged-recipes, review-requested

#20310 add pymyami and kgen
  recipes/kgen/LICENSE
  recipes/kgen/meta.yaml
  recipes/pymyami/meta.yaml
Labels: staged-recipes, review-requested

#20298 Added r-BEST as a package
  recipes/r-best/bld.bat
  recipes/r-best/build.sh
  recipes/r-best/meta.yaml
Labels: staged-recipes, review-requested

#20316 Added r-rpact as a package
  recipes/r-rpact/bld.bat
  recipes/r-rpact/build.sh
  recipes/r-rpact/meta.yaml
Labels: staged-recipes, review-requested

#20277 Package fps-auth-fief
  recipes/fps-auth-fief/meta.yaml
Labels: review-requested, python

#20299 Added pygetwindow as a package
  recipes/pygetwindow/LICENSE.txt
  recipes/pygetwindow/meta.yaml
Labels: staged-recipes, review-requested

#20322 Added docquery as a package
  recipes/docquery/meta.yaml
Labels: staged-recipes, review-requested

#20323 Added arm-mango as a pacakge
  recipes/arm-mango/meta.yaml
Labels: staged-recipes, review-requested

#20325 Added deepgram-sdk as a package
  recipes/deepgram-sdk/meta.yaml
Labels: staged-recipes, review-requested

#20326 Added datasloth as a package
  recipes/datasloth/meta.yaml
Labels: staged-recipes, review-requested

#20261 Adding PlotAPI recipe
  recipes/plotapi/LICENSE.txt
  recipes/plotapi/meta.yaml
Labels: review-requested, python

#20313 add pyobis
  recipes/pyobis/meta.yaml
Labels: staged-recipes, review-requested

#20228 Adding conda-replicate
  recipes/conda-replicate/meta.yaml
Labels: staged-recipes, review-requested

#20236 Py bobyqa first version of conda-forge recipe.
  recipes/pybobyqa/LICENSE.txt
  recipes/pybobyqa/meta.yaml
Labels: Awaiting author contribution, review-requested, python

#20333 Added execnb as a package
  recipes/execnb/meta.yaml
Labels: staged-recipes, review-requested

#20186 First getdist recipe for conda-forge.
  recipes/getdist/LICENSE.txt
  recipes/getdist/meta.yaml
Labels: Awaiting author contribution, review-requested, python

#20301 Added mouseinfo as a package
  recipes/mouseinfo/LICENSE.txt
  recipes/mouseinfo/meta.yaml
  recipes/mouseinfo/yum_requirements.txt
Labels: staged-recipes, review-requested

#20331 add kbatch
  recipes/kbatch/LICENSE
  recipes/kbatch/meta.yaml
Labels: staged-recipes, review-requested

#20330 add noaa-coops
  recipes/noaa-coops/LICENSE
  recipes/noaa-coops/meta.yaml
Labels: staged-recipes, review-requested

#20336 Added websockets-cli as a package
  recipes/websockets-cli/meta.yaml
Labels: staged-recipes, review-requested

#20335 Added littletable as a package
  recipes/littletable/meta.yaml
Labels: staged-recipes, review-requested

#20324 Added pynlp-lib as a package
  recipes/pynlp-lib/meta.yaml
Labels: staged-recipes, review-requested

#20318 Add ndtiff recipe
  recipes/ndtiff/LICENSE
  recipes/ndtiff/meta.yaml
Labels: staged-recipes, review-requested

#20296 Added scmorph
  recipes/scmorph/LICENSE
  recipes/scmorph/meta.yaml
Labels: review-requested, python

#20327 Added nbdev as a package
  recipes/nbdev/meta.yaml
Labels: staged-recipes, review-requested

#20309 Adding AWSIoTPythonSDK to Conda-forge
  recipes/AWSIoTPythonSDK/LICENSE.txt
  recipes/AWSIoTPythonSDK/NOTICE.txt
  recipes/AWSIoTPythonSDK/meta.yaml
Labels: review-requested, python

#20295 Added feedstock for pydiverse-transform
  recipes/pydiverse-transform/meta.yaml
Labels: review-requested, python

#20293 Added feedstock for pydiverse-pipedag
  recipes/pydiverse-pipedag/meta.yaml
Labels: review-requested, python

#20265 Add nasdaq-data-link
  recipes/nasdaq-data-link/meta.yaml
Labels: review-requested, python

#20319 Added r-interactions as a pacakge
  recipes/r-interactions/bld.bat
  recipes/r-interactions/build.sh
  recipes/r-interactions/meta.yaml
Labels: staged-recipes, review-requested

#20321 R rcartocolor
  recipes/r-rcartocolor/bld.bat
  recipes/r-rcartocolor/build.sh
  recipes/r-rcartocolor/meta.yaml
Labels: staged-recipes, review-requested

#20274 Add r-kernsmoothirt
  recipes/r-kernsmoothirt/bld.bat
  recipes/r-kernsmoothirt/build.sh
  recipes/r-kernsmoothirt/meta.yaml
  recipes/r-kernsmoothirt/yum_requirements.txt
Labels: R, review-requested

#20239 Adding PyPI package seamm-dashboard-client to conda forge.
  recipes/seamm-dashboard-client/meta.yaml
Labels: staged-recipes, review-requested

#20339 Added sqlbag as a package
  recipes/sqlbag/LICENSE
  recipes/sqlbag/meta.yaml
Labels: staged-recipes, review-requested

#20160 Adding NCrystal
  recipes/ncrystal/build.sh
  recipes/ncrystal/meta.yaml
Labels: staged-recipes, review-requested

#20349 Added pyapp as a package
  recipes/pyapp/meta.yaml
Labels: staged-recipes, review-requested

#20198 Add zen3geo
  recipes/zen3geo/conda_build_config.yaml
  recipes/zen3geo/meta.yaml
Labels: review-requested, python

#20337 Added migra as a pacakge
  recipes/migra/meta.yaml
Labels: staged-recipes, review-requested

#20356 Added oscan as a pacakge
  recipes/oscan/meta.yaml
Labels: staged-recipes, review-requested

#20360 Adding xwrf
  recipes/xwrf/meta.yaml
Labels: review-requested, python

#20354 Update run_osx_build.sh to match the feedstock script
  .scripts/run_osx_build.sh
Labels: staged-recipes, review-requested

#20317 Added r-puniform as a package
  recipes/r-puniform/bld.bat
  recipes/r-puniform/build.sh
  recipes/r-puniform/meta.yaml
Labels: staged-recipes, review-requested

#20382 Added r-zcurve as a package
  recipes/r-zcurve/bld.bat
  recipes/r-zcurve/build.sh
  recipes/r-zcurve/meta.yaml
Labels: staged-recipes, review-requested

#20288 Add axial-positional-embedding
  recipes/axial-positional-embedding/LICENSE
  recipes/axial-positional-embedding/meta.yaml
Labels: review-requested, python

#20238 Add uvw
  recipes/uvw/bld.bat
  recipes/uvw/build.sh
  recipes/uvw/meta.yaml
Labels: Awaiting author contribution, staged-recipes, c-cpp

#20179 Add websocketpp
  recipes/websocketpp/bld.bat
  recipes/websocketpp/build.sh
  recipes/websocketpp/cmake-configversion-compatibility-anynewerversion.patch
  recipes/websocketpp/fix-cmake-find-boost.patch
  recipes/websocketpp/fix-cmake-install-path.patch
  recipes/websocketpp/meta.yaml
Labels: Awaiting author contribution, c-cpp

#20395 Add r-ggvenndiagram, r-rvenn
  recipes/r-ggvenndiagram/bld.bat
  recipes/r-ggvenndiagram/build.sh
  recipes/r-ggvenndiagram/meta.yaml
  recipes/r-rvenn/bld.bat
  recipes/r-rvenn/build.sh
  recipes/r-rvenn/meta.yaml
Labels: staged-recipes, review-requested

#20383 Added py-heat as a package
  recipes/py-heat/meta.yaml
Labels: staged-recipes, review-requested

#20390 Added starlite-multipart as a package
  recipes/starlite-multipart/meta.yaml
Labels: staged-recipes, review-requested

#20389 Added pydantic-openapi-schema as a package
  recipes/pydantic-openapi-schema/meta.yaml
Labels: staged-recipes, review-requested

#20289 Add local-attention
  recipes/local-attention/meta.yaml
Labels: review-requested, python

#20385 Add oct-to-tiff
  recipes/oct-to-tiff/meta.yaml
Labels: staged-recipes, review-requested

#20362 Added pyproject-flake8 as a package
  recipes/pyproject-flake8/meta.yaml
Labels: staged-recipes, review-requested

#20369 Added iterators as a package
  recipes/iterators/LICENSE
  recipes/iterators/meta.yaml
Labels: staged-recipes, review-requested

#20372 Added readerwriterlock as a package
  recipes/readerwriterlock/meta.yaml
Labels: staged-recipes, review-requested

#20373 Added marqo as a package
  recipes/marqo/meta.yaml
Labels: staged-recipes, review-requested

#20374 Added regressio as a package
  recipes/regressio/License
  recipes/regressio/meta.yaml
Labels: staged-recipes, review-requested

#20375 Added django-htmx as a package
  recipes/django-htmx/meta.yaml
Labels: staged-recipes, review-requested

#20378 Added enforce-typing as a package
  recipes/enforce-typing/0001-README.patch
  recipes/enforce-typing/meta.yaml
Labels: staged-recipes, review-requested

#20233 Add recipe of my nqlib package.
  recipes/nqlib/LICENSE.txt
  recipes/nqlib/meta.yaml
Labels: review-requested, python

#20365 Added gazpacho as a package
  recipes/gazpacho/LICENSE
  recipes/gazpacho/meta.yaml
Labels: staged-recipes, review-requested

#20406 ENH add galsampler
  recipes/galsampler/meta.yaml
Labels: staged-recipes, review-requested

#20366 Add prefect-dask recipe
  recipes/prefect-dask/meta.yaml
Labels: review-requested, python

#20401 add numbagg
  recipes/numbagg/meta.yaml
Labels: staged-recipes, review-requested

#20412 add pep440 0.1.1
  recipes/pep440/meta.yaml
Labels: staged-recipes, review-requested, python

#20377 Adding `herbie-data` to conda-forge
  recipes/herbie-data/meta.yaml
Labels: staged-recipes, review-requested

#20388 Added starlite as a package
  recipes/starlite/meta.yaml
Labels: staged-recipes, review-requested

#20257 Add PyPI package ablang
  recipes/ablang/meta.yaml
Labels: review-requested, python

#20376 Added unicaps as a package
  recipes/unicaps/meta.yaml
Labels: staged-recipes, review-requested

#20370 Added ducks as a package
  recipes/ducks/meta.yaml
Labels: staged-recipes, review-requested

#20368 Added flwr as a package
  recipes/flwr/meta.yaml
Labels: staged-recipes, review-requested

#20292 Add performer-pytorch
  recipes/performer-pytorch/meta.yaml
Labels: review-requested, python

#20367 model_catalogs v0.3.1
  recipes/model_catalogs/meta.yaml
Labels: review-requested, python

#20357 Adding h5grove
  recipes/h5grove/meta.yaml
Labels: review-requested, python

#20343 Add attrdict3
  recipes/attrdict3/meta.yaml
Labels: review-requested, python

#20418 Adding loggertools
  recipes/loggertools/meta.yaml
Labels: review-requested, python

#19125 Adding inn-interface to conda-forge
  recipes/inn-interface/meta.yaml
Labels: review-requested, python

#19896 Adding torchtime
  recipes/torchtime/meta.yaml
Labels: review-requested, python

#20440 Add pado
  recipes/pado/meta.yaml
Labels: review-requested, python

#19969 Add cwl-utils
  recipes/cwl-utils/LICENSE
  recipes/cwl-utils/meta.yaml
Labels: Awaiting author contribution, python

#20364 Addding Optking to conda forge
  recipes/optking/meta.yaml
Labels: review-requested, python

#20304 Added feedstock for grapheme
  recipes/grapheme/LICENSE
  recipes/grapheme/meta.yaml
Labels: review-requested, python

#20392 Added starlite-jwt as a package
  recipes/starlite-jwt/meta.yaml
Labels: staged-recipes, review-requested

#20438 Add `edrixs` package
  recipes/edrixs/build.sh
  recipes/edrixs/example_2_AIM_XAS.py
  recipes/edrixs/meta.yaml
  recipes/edrixs/yum_requirements.txt
Labels: Awaiting author contribution, python-c

#20448 Dimorphite
  recipes/dimorphite-dl/LICENSE.txt
  recipes/dimorphite-dl/meta.yaml
Labels: review-requested, python

#20403 Add sphinx-codeautolink package
  recipes/sphinx-codeautolink/meta.yaml
Labels: review-requested, python

#20232 Add album recipe
  recipes/album/meta.yaml
Labels: Awaiting author contribution, python

#20424 Adding reaktplot package
  recipes/reaktplot/bld.bat
  recipes/reaktplot/build.sh
  recipes/reaktplot/conda_build_config.yaml
  recipes/reaktplot/meta.yaml
  recipes/reaktplot/run_test.bat
  recipes/reaktplot/run_test.sh
  recipes/reaktplot/test/app/CMakeLists.txt
  recipes/reaktplot/test/app/main.cpp
  recipes/reaktplot/test/example.py
Labels: staged-recipes, review-requested

#20450 Add scriptengine (a lightweight framework for executing yaml scripts)
  recipes/scriptengine/meta.yaml
Labels: review-requested, python

#20451 Add recipe for CRAN package piggyback
  recipes/r-piggyback/bld.bat
  recipes/r-piggyback/build.sh
  recipes/r-piggyback/meta.yaml
Labels: R, review-requested

#20417 Add prefect-ray recipe
  recipes/prefect-ray/meta.yaml
Labels: review-requested, python

#20471 Add mp-api
  recipes/emmet-api/meta.yaml
  recipes/emmet-builders/meta.yaml
  recipes/emmet-core/meta.yaml
  recipes/mp-api/meta.yaml
Labels: staged-recipes, review-requested

#20469 Add pdCIFplotter
  recipes/pdCIFplotter/meta.yaml
  recipes/pdCIFplotter/yum_requirements.txt
Labels: staged-recipes, review-requested, python

#20473 Adding `cinemagoer`
  recipes/cinemagoer/meta.yaml
Labels: review-requested, python

#20346 Add receipe for opendrift and roaring-landmask
  recipes/opendrift/LICENSE
  recipes/opendrift/conda_build_config.yaml
  recipes/opendrift/meta.yaml
  recipes/roaring-landmask/LICENSE
  recipes/roaring-landmask/bld.bat
  recipes/roaring-landmask/build.sh
  recipes/roaring-landmask/library_licenses/geos-sys-LICENSE-LGPL
  recipes/roaring-landmask/meta.yaml
Labels: staged-recipes, review-requested

#20470 Add jupyter_app_launcher
  recipes/jupyter_app_launcher/meta.yaml
Labels: staged-recipes, review-requested

#20467 add dpdispatcher
  recipes/dpdispatcher/meta.yaml
Labels: review-requested, python

#20256 Added recipe for `privacy_meter`
  recipes/privacy_meter/meta.yaml
Labels: review-requested, python

#20488 add cplot
  recipes/cplot/meta.yaml
Labels: staged-recipes, review-requested

#20458 Added recipe for 'wrfplot'
  recipes/wrfplot/LICENSE
  recipes/wrfplot/meta.yaml
Labels: review-requested, python

#20498 add mpldatacursor
  recipes/mpldatacursor/meta.yaml
Labels: staged-recipes, review-requested

#20502 add mpl_table
  recipes/mpl_table/meta.yaml
Labels: staged-recipes, review-requested

#20499 add mpl-gui
  recipes/mpl-gui/meta.yaml
Labels: staged-recipes, review-requested

#20494 add grplot
  recipes/grplot/meta.yaml
Labels: staged-recipes, review-requested

#20495 add highlight_text
  recipes/highlight_text/LICENSE.txt
  recipes/highlight_text/meta.yaml
Labels: staged-recipes, review-requested

#20496 add hockey_rink
  recipes/hockey_rink/meta.yaml
Labels: staged-recipes, review-requested

#20490 add figpager
  recipes/figpager/meta.yaml
Labels: staged-recipes, review-requested

#20504 add numpngw
  recipes/numpngw/meta.yaml
Labels: staged-recipes, review-requested

#20491 add flexitext
  recipes/flexitext/LICENSE
  recipes/flexitext/meta.yaml
Labels: staged-recipes, review-requested

#20492 add gif
  recipes/gif/meta.yaml
Labels: staged-recipes, review-requested

#20497 add matplotview
  recipes/matplotview/meta.yaml
Labels: staged-recipes, review-requested

#20484 Add hatch-requirements-txt
  recipes/hatch-requirements-txt/meta.yaml
Labels: review-requested, python

#19841 Adding pypi package python-utilities-jsm to conda-forge.
  recipes/python-utilities-jsm/meta.yaml
Labels: staged-recipes, review-requested, python

#20507 add pymatviz
  recipes/pymatviz/meta.yaml
Labels: staged-recipes, review-requested

#20480 Add switcheroo
  recipes/switcheroo/meta.yaml
Labels: review-requested, python

#20478 added parmoo to staged recipes
  recipes/parmoo/meta.yaml
Labels: review-requested, python

#20515 Add Deutschland API
  recipes/de-bundesrat/LICENSE
  recipes/de-bundesrat/meta.yaml
  recipes/de-bundestag/LICENSE
  recipes/de-bundestag/meta.yaml
  recipes/de-interpol/LICENSE
  recipes/de-interpol/meta.yaml
  recipes/de-jobsuche/LICENSE
  recipes/de-jobsuche/meta.yaml
  recipes/de-ladestationen/LICENSE
  recipes/de-ladestationen/meta.yaml
  recipes/de-mudab/LICENSE
  recipes/de-mudab/meta.yaml
  recipes/de-polizei-brandenburg/LICENSE
  recipes/de-polizei-brandenburg/meta.yaml
  recipes/de-risikogebiete/LICENSE
  recipes/de-risikogebiete/meta.yaml
  recipes/de-smard/LICENSE
  recipes/de-smard/meta.yaml
  recipes/de-strahlenschutz/LICENSE
  recipes/de-strahlenschutz/meta.yaml
  recipes/de-travelwarning/LICENSE
  recipes/de-travelwarning/meta.yaml
  recipes/de-zoll/LICENSE
  recipes/de-zoll/meta.yaml
  recipes/pypresseportal/meta.yaml
Labels: staged-recipes, review-requested

#20514 add kubo (ne go-ipfs) 0.15.0
  recipes/kubo/bld.bat
  recipes/kubo/build.sh
  recipes/kubo/build_library_licenses.sh
  recipes/kubo/build_win.sh
  recipes/kubo/conda_build_config.yaml
  recipes/kubo/meta.yaml
Labels: staged-recipes, review-requested, go

#20191 add yaqd-zaber
  recipes/yaqd-zaber/meta.yaml
Labels: python

#20237 Adds ploomber-engine recipe
  recipes/ploomber-engine/meta.yaml
Labels: review-requested, python

#20250 HyRAM+ version 4.1.1
  recipes/hyram/meta.yaml
Labels: review-requested, python

#20276 Add recipe for miniwdl-slurm
  recipes/miniwdl-slurm/meta.yaml
Labels: review-requested, python

#20353 Add google-cloud-pubsublite
  recipes/google-cloud-pubsublite/meta.yaml
Labels: review-requested, python

#20444 Add sardana-icepap and sardana-tango recipes
  recipes/sardana-icepap/meta.yaml
  recipes/sardana-tango/meta.yaml
Labels: review-requested, python

#20519 add cool_maps to conda-forge
  recipes/cool_maps/meta.yaml
Labels: review-requested, python

#20526 add kubo 0.15.0
  recipes/kubo/bld.bat
  recipes/kubo/build.sh
  recipes/kubo/build_library_licenses.sh
  recipes/kubo/build_win.sh
  recipes/kubo/conda_build_config.yaml
  recipes/kubo/meta.yaml
Labels: staged-recipes, review-requested, go

#20503 add mpl-template
  recipes/mpl-template/LICENSE
  recipes/mpl-template/meta.yaml
Labels: staged-recipes, review-requested

#20505 add pyCircos
  recipes/pyCircos/LICENSE
  recipes/pyCircos/meta.yaml
  recipes/pyCircos/patch_setup_py.patch
Labels: staged-recipes, review-requested

#19959 adding recipe for runPyNB
  recipes/runpynb/meta.yaml
Labels: Awaiting author contribution, python

#20479 added mesmerize-core
  recipes/mesmerize-core/meta.yaml
  recipes/mesmerize-core/yum_requirements.txt
Labels: review-requested, python
