Repository conda-forge/staged-recipes, pull requests merged in 2022-03, with the labels that each got.

#18327 Adding wbgapi library
  recipes/wbgapi/meta.yaml
Labels: staged-recipes

#15317 Add datalad-installer
  recipes/datalad-installer/meta.yaml
  recipes/datalad-installer/test.bat
  recipes/datalad-installer/test.sh
Labels: python

#16032 add noto fonts recipe
  recipes/font-ttf-noto-cjk/LICENSE
  recipes/font-ttf-noto-cjk/build.sh
  recipes/font-ttf-noto-cjk/meta.yaml
  recipes/font-ttf-noto-emoji/build.sh
  recipes/font-ttf-noto-emoji/meta.yaml
  recipes/font-ttf-noto/build.sh
  recipes/font-ttf-noto/meta.yaml
Labels: Awaiting author contribution, font

#17721 Add omero-py recipe
  recipes/omero-py/meta.yaml
Labels: help wanted
