Repository conda-forge/staged-recipes, pull requests merged in 2022-08, with the labels that each got.

#19618 Adding datatoolbox from PyPI
  recipes/datatoolbox/meta.yaml
Labels: review-requested, python

#19647 Add Springcraft package
  recipes/springcraft/meta.yaml
Labels: staged-recipes, review-requested

#19904 Adding TIES_MD package
  recipes/TIES_MD/meta.yaml
Labels: review-requested, python

#19897 Adapting ffmpy package from PyPI for conda-forge.
  recipes/ffmpy/LICENSE
  recipes/ffmpy/meta.yaml
Labels: staged-recipes, review-requested

#19846 Add singledispatchmethod package
  recipes/singledispatchmethod/meta.yaml
Labels: review-requested, python

#19888 Adding rainbowlog
  recipes/rainbowlog/meta.yaml
Labels: review-requested, python

#19922 Added pandas-log as a package
  recipes/pandas-log/meta.yaml
Labels: staged-recipes, review-requested

#19805 Adding Magentropy 0.1.2
  recipes/magentropy/meta.yaml
Labels: staged-recipes, review-requested

#19892 Add `types-awscrt` recipe
  recipes/types-awscrt/meta.yaml
Labels: review-requested, python

#18610 Add Kokkos
  recipes/kokkos/bld.bat
  recipes/kokkos/build.sh
  recipes/kokkos/conda-forge.yml
  recipes/kokkos/meta.yaml
Labels: review-requested, c-cpp

#19911 add esbuild recipe
  recipes/esbuild/meta.yaml
Labels: staged-recipes, review-requested

#19915 Added github-action-utils as a package
  recipes/github-action-utils/meta.yaml
Labels: staged-recipes, review-requested

#19866 Add pgzip
  recipes/pgzip/meta.yaml
Labels: review-requested, python

#19626 Adding ddeint
  recipes/ddeint/LICENSE
  recipes/ddeint/meta.yaml
Labels: staged-recipes, review-requested, python

#19813 Add mitmproxy and dependencies
  recipes/kaitaistruct/LICENSE
  recipes/kaitaistruct/meta.yaml
  recipes/mitmproxy/meta.yaml
  recipes/publicsuffix2/meta.yaml
  recipes/pydivert/LICENSE
  recipes/pydivert/meta.yaml
Labels: review-requested, python

#19923 Added numerizer as a package
  recipes/numerizer/meta.yaml
Labels: staged-recipes, review-requested

#19906 Add nng
  recipes/nng/bld.bat
  recipes/nng/build.sh
  recipes/nng/meta.yaml
  recipes/nng/test.patch
Labels: staged-recipes, review-requested

#19924 Added scikit-multilearn as a package
  recipes/scikit-multilearn/meta.yaml
Labels: staged-recipes, review-requested

#19807 add dart-sass
  recipes/dart-sass/bld.bat
  recipes/dart-sass/build.sh
  recipes/dart-sass/meta.yaml
  recipes/dart-sass/test.sass
Labels: staged-recipes, review-requested

#19917 Add julian recipe
  recipes/julian/LICENSE.txt
  recipes/julian/meta.yaml
Labels: staged-recipes, review-requested

#19929 adding text_models
  recipes/text_models/meta.yaml
Labels: staged-recipes, review-requested, python

#19907 Adding xbcausalforest
  recipes/xbcausalforest/LICENSE.txt
  recipes/xbcausalforest/meta.yaml
Labels: staged-recipes, review-requested

#19925 Adding riverrem
  recipes/riverrem/meta.yaml
Labels: staged-recipes, review-requested

#19914 adds r-mixedcca
  recipes/r-mixedcca/bld.bat
  recipes/r-mixedcca/build.sh
  recipes/r-mixedcca/meta.yaml
Labels: staged-recipes, review-requested

#19120 add recipe for perl-try-tiny
  recipes/perl-try-tiny/bld.bat
  recipes/perl-try-tiny/build.sh
  recipes/perl-try-tiny/meta.yaml
Labels: review-requested, perl

#19822 Add GitHub Actions runner application
  recipes/actions-runner/activate.d/actions-runner-force-node16.sh
  recipes/actions-runner/build.sh
  recipes/actions-runner/deactivate.d/actions-runner-force-node16.sh
  recipes/actions-runner/meta.yaml
Labels: staged-recipes, review-requested

#19803 Add apache-airflow-providers-common-sql
  recipes/apache-airflow-providers-common-sql/meta.yaml
Labels: review-requested, python

#19940 Add aiidalab
  recipes/aiidalab/meta.yaml
Labels: staged-recipes, review-requested

#19943 Added playsound as a package.
  recipes/playsound/meta.yaml
Labels: staged-recipes, review-requested

#19891 Adding `flytekitplugins` from PyPI (`group-1`)
  recipes/flytekitplugins-athena/LICENSE
  recipes/flytekitplugins-athena/NOTICE
  recipes/flytekitplugins-athena/meta.yaml
  recipes/flytekitplugins-awsbatch/LICENSE
  recipes/flytekitplugins-awsbatch/NOTICE
  recipes/flytekitplugins-awsbatch/meta.yaml
  recipes/flytekitplugins-data-fsspec/LICENSE
  recipes/flytekitplugins-data-fsspec/NOTICE
  recipes/flytekitplugins-data-fsspec/meta.yaml
  recipes/flytekitplugins-modin/LICENSE
  recipes/flytekitplugins-modin/NOTICE
  recipes/flytekitplugins-modin/meta.yaml
  recipes/flytekitplugins-pandera/LICENSE
  recipes/flytekitplugins-pandera/NOTICE
  recipes/flytekitplugins-pandera/meta.yaml
  recipes/flytekitplugins-spark/LICENSE
  recipes/flytekitplugins-spark/NOTICE
  recipes/flytekitplugins-spark/meta.yaml
  recipes/flytekitplugins-sqlalchemy/LICENSE
  recipes/flytekitplugins-sqlalchemy/NOTICE
  recipes/flytekitplugins-sqlalchemy/meta.yaml
Labels: Awaiting author contribution, python

#19939 adding attributes-doc
  recipes/attributes-doc/meta.yaml
Labels: review-requested, python

#19927 Adding recipes for `optimum` extras from PyPI
  recipes/optimum-graphcore/meta.yaml
  recipes/optimum-habana/meta.yaml
Labels: review-requested, python

#19921 Add bulker v 0.7.3
  recipes/bulker/meta.yaml
Labels: Awaiting author contribution, python

#19951 Add pylgbst
  recipes/pylgbst/meta.yaml
Labels: staged-recipes, review-requested

#19955 Add scanpdf
  recipes/scanpdf/meta.yaml
  recipes/scanpdf/python3.patch
Labels: staged-recipes, review-requested

#19952 Added hatch-fancy-pypi-readme as a package
  recipes/hatch-fancy-pypi-readme/meta.yaml
Labels: staged-recipes, review-requested

#19962 Added jazzit as a package.
  recipes/jazzit/meta.yaml
Labels: staged-recipes, review-requested

#19963 Added neattext as a package
  recipes/neattext/meta.yaml
Labels: staged-recipes, review-requested

#19966 Added combo as a package
  recipes/combo/meta.yaml
Labels: staged-recipes, review-requested

#19968 Added tiobeindexpy as a package
  recipes/tiobeindexpy/LICENSE.txt
  recipes/tiobeindexpy/meta.yaml
Labels: staged-recipes, review-requested

#19953 Add getmail6
  recipes/getmail6/meta.yaml
Labels: staged-recipes, review-requested

#19872 Arxiv miner
  recipes/arxiv-miner/meta.yaml
Labels: staged-recipes, review-requested

#19967 Added pyaztro
  recipes/pyaztro/LICENSE
  recipes/pyaztro/meta.yaml
Labels: staged-recipes, review-requested

#19797 Add recipe for freva software
  recipes/freva/meta.yaml
Labels: review-requested, python

#19839 add apstools to conda-forge
  recipes/apstools/meta.yaml
Labels: review-requested, python

#19821 Murky: new recipe
  recipes/murky/meta.yaml
Labels: review-requested, python

#19479 Add pylink-square package
  recipes/pylink-square/meta.yaml
Labels: review-requested, python

#19996 add humre
  recipes/humre/meta.yaml
Labels: staged-recipes, review-requested

#19981 Added pydalle as a pacakge
  recipes/pydalle/meta.yaml
Labels: staged-recipes, review-requested

#19964 Add axisregistry opentypespec beziers font-v stringbrewer booleanoperations fontmath ufo2ft cffsubr fontparts ufolib2 cu2qu gflanguages ufolint defcon openstep-plist uharfbuzz dehinter opentype-sanitizer vharfbuzz
  recipes/axisregistry/meta.yaml
  recipes/beziers/meta.yaml
  recipes/booleanoperations/meta.yaml
  recipes/cu2qu/meta.yaml
  recipes/defcon/meta.yaml
  recipes/dehinter/meta.yaml
  recipes/font-v/LICENSE
  recipes/font-v/meta.yaml
  recipes/fontmath/meta.yaml
  recipes/fontparts/meta.yaml
  recipes/gflanguages/meta.yaml
  recipes/openstep-plist/meta.yaml
  recipes/opentype-sanitizer/meta.yaml
  recipes/opentypespec/meta.yaml
  recipes/stringbrewer/LICENSE
  recipes/stringbrewer/meta.yaml
  recipes/ufolib2/meta.yaml
  recipes/ufolint/LICENSE
  recipes/ufolint/meta.yaml
  recipes/uharfbuzz/meta.yaml
Labels: staged-recipes, review-requested

#20001 Added repath as a package
  recipes/repath/LICENSE
  recipes/repath/meta.yaml
Labels: staged-recipes, review-requested

#20000 Added lowbar as a package
  recipes/lowbar/meta.yaml
Labels: staged-recipes, review-requested

#19999 Added hypothesis-graphql as a package.
  recipes/hypothesis-graphql/meta.yaml
Labels: staged-recipes, review-requested

#19998 Added easycheck as a package
  recipes/easycheck/LICENSE
  recipes/easycheck/meta.yaml
Labels: staged-recipes, review-requested

#20002 Added apprise as a package
  recipes/apprise/meta.yaml
Labels: staged-recipes, review-requested

#19987 Add csvs-to-sqlite recipe
  recipes/csvs-to-sqlite/meta.yaml
Labels: review-requested, python

#19950 Add mypy-boto3-appflow
  recipes/mypy-boto3-appflow/meta.yaml
Labels: review-requested, python

#19946 Add stats_arrays
  recipes/stats_arrays/meta.yaml
Labels: review-requested, python

#19944 Add constructive_geometries
  recipes/constructive_geometries/meta.yaml
Labels: review-requested, python

#19941 Add bw_processing
  recipes/bw_processing/meta.yaml
Labels: review-requested, python

#19912 Added recipe for Lightwood
  recipes/lightwood/LICENSE
  recipes/lightwood/meta.yaml
Labels: staged-recipes, review-requested, python

#20009 Add vharfbuzz
  recipes/vharfbuzz/meta.yaml
Labels: staged-recipes, review-requested

#19909 Adding rapid-pe package
  recipes/rapid-pe/meta.yaml
Labels: review-requested, python

#20011 Add cffsubr
  recipes/cffsubr/meta.yaml
Labels: staged-recipes, review-requested

#19977 add rivgraph
  recipes/rivgraph/meta.yaml
  recipes/rivgraph/yum_requirements.txt
Labels: review-requested, python

#19549 Add conda-env-builder
  recipes/conda-env-builder/build.sh
  recipes/conda-env-builder/conda-env-builder.py
  recipes/conda-env-builder/meta.yaml
Labels: staged-recipes, review-requested, java

#19385 adding biofilm and dependencies
  recipes/biofilm/LICENSE
  recipes/biofilm/meta.yaml
  recipes/dirtyopts/LICENSE
  recipes/dirtyopts/meta.yaml
  recipes/eden-kernel/LICENSE
  recipes/eden-kernel/meta.yaml
  recipes/lmz/LICENSE
  recipes/lmz/meta.yaml
  recipes/structout/LICENSE
  recipes/structout/meta.yaml
  recipes/ubergauss/LICENSE
  recipes/ubergauss/meta.yaml
Labels: staged-recipes, review-requested, python

#19467 Add conda recipe for sed-plume
  recipes/sed-plume/meta.yaml
Labels: review-requested, python

#20012 Added drawsvg as a package
  recipes/drawsvg/meta.yaml
Labels: staged-recipes, review-requested

#19938 Adding facetorch
  recipes/facetorch/meta.yaml
Labels: review-requested, python

#19370 Adding pyopenrivercam to feedstock
  recipes/pyopenrivercam/meta.yaml
  recipes/pyopenrivercam/yum_requirements.txt
Labels: review-requested, python

#19905 add regain package to conda-forge
  recipes/regain/meta.yaml
Labels: review-requested, python

#20006 Adding neptune-prophet package
  recipes/neptune-integration/meta.yaml
Labels: staged-recipes, review-requested

#20042 add ghcup recipe
  recipes/ghcup/LICENSE.txt
  recipes/ghcup/bld.bat
  recipes/ghcup/build.sh
  recipes/ghcup/meta.yaml
Labels: staged-recipes, review-requested

#19606 Add recipe for toml-test
  recipes/toml-test/COPYING-toml
  recipes/toml-test/LICENSE-zli
  recipes/toml-test/bld.bat
  recipes/toml-test/build.sh
  recipes/toml-test/meta.yaml
Labels: staged-recipes, review-requested, go

#19019 Add qtmolecularnetwork and pyside2mn
  recipes/qtmolecularnetwork/0001-libcxx.patch
  recipes/qtmolecularnetwork/bld-python.bat
  recipes/qtmolecularnetwork/bld.bat
  recipes/qtmolecularnetwork/build-python.sh
  recipes/qtmolecularnetwork/build.sh
  recipes/qtmolecularnetwork/meta.yaml
  recipes/qtmolecularnetwork/yum_requirements.txt
Labels: review-requested, python-c

#19759 add zpaq
  recipes/zpaq/bld.bat
  recipes/zpaq/build.sh
  recipes/zpaq/meta.yaml
  recipes/zpaq/patches/0001-include-omp.h-in-libzpaq-to-enable-fopenmp.patch
  recipes/zpaq/run_test.bat
  recipes/zpaq/run_test.sh
Labels: review-requested, c-cpp

#19594 Adding calceph
  recipes/calceph/bld.bat
  recipes/calceph/build.sh
  recipes/calceph/meta.yaml
Labels: review-requested, c-cpp

#19868 Add vulkan-headers recipe
  recipes/vulkan-headers/bld.bat
  recipes/vulkan-headers/build.sh
  recipes/vulkan-headers/meta.yaml
Labels: review-requested, c-cpp

#19471 Add cyeva
  recipes/cyeva/meta.yaml
Labels: review-requested, python

#19477 Add cmsis-pack-manager package
  recipes/cmsis-pack-manager/fix_cargo_target_path.patch
  recipes/cmsis-pack-manager/meta.yaml
Labels: staged-recipes, review-requested, python, python-c, rust

#19926 Add libdlfind
  recipes/libconeangle/meta.yaml
Labels: review-requested, python-c

#19745 Add manim
  recipes/manim/meta.yaml
Labels: review-requested, python

#19520 add maesters-nwp
  recipes/maesters-nwp/meta.yaml
Labels: review-requested, python

#19547 Add recipe for pygments-ansi-color and sphinxcontrib-ansi
  recipes/pygments-ansi-color/meta.yaml
  recipes/sphinxcontrib-ansi/LICENSE
  recipes/sphinxcontrib-ansi/meta.yaml
Labels: review-requested, python

#20083 add hatch-nodejs-version 0.1.0
  recipes/hatch-nodejs-version/meta.yaml
Labels: staged-recipes, review-requested, python

#19624 add riskfolio-lib
  recipes/riskfolio-lib/meta.yaml
Labels: review-requested, python

#20052 Added pycatflow as a package
  recipes/pycatflow/LICENSE
  recipes/pycatflow/meta.yaml
Labels: staged-recipes, review-requested

#20053 Added makepackage as a package
  recipes/makepackage/meta.yaml
Labels: staged-recipes, review-requested

#20054 Added schemathesis as a package
  recipes/schemathesis/meta.yaml
Labels: staged-recipes, review-requested

#20055 Added flet as a package
  recipes/flet/LICENSE
  recipes/flet/meta.yaml
Labels: staged-recipes, review-requested

#20056 Added django-denied as a package
  recipes/django-denied/meta.yaml
Labels: staged-recipes, review-requested

#20077 Add Softworks feedstock
  recipes/softworks/bld.bat
  recipes/softworks/build.sh
  recipes/softworks/meta.yaml
Labels: staged-recipes, review-requested

#20081 Add pygmailsorter
  recipes/pygmailsorter/meta.yaml
Labels: staged-recipes, review-requested

#20041 Add sif-parser recipe
  recipes/sif-parser/meta.yaml
Labels: staged-recipes, review-requested

#20057 Added autocorrect as a package
  recipes/autocorrect/LICENSE
  recipes/autocorrect/meta.yaml
Labels: staged-recipes, review-requested

#20058 Added stream-upzip as a package
  recipes/stream-unzip/meta.yaml
Labels: staged-recipes, review-requested

#20026 Adding proxsuite
  recipes/proxsuite/bld.bat
  recipes/proxsuite/build.sh
  recipes/proxsuite/meta.yaml
  recipes/proxsuite/patches/all.patch
Labels: review-requested, c-cpp

#19646 New Python package: simexpal
  recipes/simexpal/License.txt
  recipes/simexpal/meta.yaml
Labels: staged-recipes, review-requested

#20070 Add recipe for molassembler
  recipes/scine-molassembler/build.sh
  recipes/scine-molassembler/cmake/FindRingDecomposerLib.cmake
  recipes/scine-molassembler/cmake/Findnauty.cmake
  recipes/scine-molassembler/cmake/ImportMolassembler.cmake
  recipes/scine-molassembler/include/fenv.h
  recipes/scine-molassembler/meta.yaml
  recipes/scine-molassembler/patches/nauty_thread_local.patch
  recipes/scine-molassembler/patches/nlohmann_json.patch
  recipes/scine-molassembler/patches/no_duplicate.patch
  recipes/scine-molassembler/patches/pybind11_pin.patch
Labels: review-requested, python-c

#20088 add azure-data-tables and stac-geoparquet to conda-forge
  recipes/azure-data-tables/meta.yaml
  recipes/stac-geoparquet/meta.yaml
Labels: staged-recipes, review-requested, python

#19623 Adding ghostpii encryption package
  recipes/ghostpii/meta.yaml
Labels: Awaiting author contribution, python

#20043 add gglasso on conda-forge
  recipes/gglasso/LICENSE.txt
  recipes/gglasso/meta.yaml
Labels: review-requested, python

#20101 add funcx-common
  recipes/funcx-common/LICENSE
  recipes/funcx-common/meta.yaml
Labels: staged-recipes, review-requested

#20103 initial recipe for requests-wsgi-adapter
  recipes/requests-wsgi-adapter/LICENSE
  recipes/requests-wsgi-adapter/meta.yaml
Labels: review-requested, python

#20107 add sardem to conda-forge
  recipes/sardem/meta.yaml
Labels: staged-recipes, review-requested

#19893 Add recipe for `msmhelper`.
  recipes/msmhelper/meta.yaml
Labels: review-requested, python

#20094 initial filecache recipe (0.81)
  recipes/filecache/LICENSE.txt
  recipes/filecache/meta.yaml
Labels: review-requested, python

#20102 Add qiskit-ibm-experiment
  recipes/qiskit-ibm-experiment/meta.yaml
Labels: review-requested, python

#19223 adding openmm-ml again
  recipes/openmm-ml/conda_build_config.yaml
  recipes/openmm-ml/meta.yaml
Labels: staged-recipes, review-requested

#19318 Adding freefem
  recipes/freefem-feedstock/LICENSE.txt
  recipes/freefem-feedstock/build.sh
  recipes/freefem-feedstock/meta.yaml
  recipes/freefem-feedstock/run_test.sh
Labels: Awaiting author contribution, staged-recipes, c-cpp

#19672 Add napari-trait2d recipe
  recipes/napari-trait2d/meta.yaml
  recipes/napari-trait2d/yum_requirements.txt
Labels: staged-recipes, review-requested

#19676 Add napari-nasa-samples recipe
  recipes/napari-nasa-samples/meta.yaml
Labels: staged-recipes, review-requested

#19901 Add xtiff recipe
  recipes/xtiff/meta.yaml
Labels: staged-recipes, review-requested

#19675 Add napari-czann-segment recipe
  recipes/napari-czann-segment/meta.yaml
  recipes/napari-czann-segment/yum_requirements.txt
Labels: staged-recipes, review-requested

#19673 Add napari-vesicles-segmentation recipe
  recipes/napari-vesicles-segmentation/meta.yaml
  recipes/napari-vesicles-segmentation/yum_requirements.txt
Labels: staged-recipes, review-requested

#19899 Add napari-help recipe
  recipes/napari-help/meta.yaml
  recipes/napari-help/yum_requirements.txt
Labels: staged-recipes, review-requested

#19828 Add guanine-crystal-analysis recipe
  recipes/guanine-crystal-analysis/meta.yaml
Labels: staged-recipes, review-requested

#19755 Add avidaq recipe
  recipes/avidaq/meta.yaml
  recipes/avidaq/yum_requirements.txt
Labels: staged-recipes, review-requested

#19671 Add napari-pdr-reader recipe
  recipes/napari-pdr-reader/meta.yaml
  recipes/napari-pdr-reader/yum_requirements.txt
Labels: staged-recipes, review-requested

#19670 Add napari-bio-sample-data recipe
  recipes/napari-bio-sample-data/LICENSE.AllenInstitute
  recipes/napari-bio-sample-data/LICENSE.CCBY4.0
  recipes/napari-bio-sample-data/LICENSE.CellTrackingChallenge
  recipes/napari-bio-sample-data/meta.yaml
  recipes/napari-bio-sample-data/yum_requirements.txt
Labels: staged-recipes, review-requested

#19979 Add keras-metrics recipe
  recipes/keras-metrics/LICENSE.txt
  recipes/keras-metrics/meta.yaml
Labels: staged-recipes, review-requested

#19831 Add napari-sift-registration recipe
  recipes/napari-sift-registration/meta.yaml
  recipes/napari-sift-registration/yum_requirements.txt
Labels: staged-recipes, review-requested

#19242 Add napari-philow recipe
  recipes/napari-philow/meta.yaml
  recipes/napari-philow/yum_requirements.txt
Labels: Awaiting author contribution, staged-recipes, python

#19252 Add napari-stracking recipe
  recipes/napari-stracking/meta.yaml
  recipes/napari-stracking/yum_requirements.txt
Labels: Awaiting author contribution, staged-recipes

#19533 Add napari-generic-simulator recipe
  recipes/napari-generic-simulator/meta.yaml
  recipes/napari-generic-simulator/yum_requirements.txt
Labels: Awaiting author contribution, python

#19539 Add napari-sc3d-viewer recipe
  recipes/napari-sc3d-viewer/meta.yaml
  recipes/napari-sc3d-viewer/yum_requirements.txt
Labels: Awaiting author contribution, python

#19289 Add empanada-dl recipe
  recipes/empanada-dl/meta.yaml
Labels: Awaiting author contribution, python

#20038 Add napari-omaas recipe
  recipes/napari-omaas/meta.yaml
  recipes/napari-omaas/yum_requirements.txt
Labels: staged-recipes, review-requested

#19916 Add napari-nd2-folder-viewer recipe
  recipes/napari-nd2-folder-viewer/meta.yaml
  recipes/napari-nd2-folder-viewer/yum_requirements.txt
Labels: staged-recipes, review-requested

#19589 Add napari-spatialdata recipe
  recipes/napari-spatialdata/meta.yaml
  recipes/napari-spatialdata/yum_requirements.txt
Labels: Awaiting author contribution

#19495 Add recipe for python-soxr
  recipes/soxr-python/meta.yaml
Labels: Awaiting author contribution, python-c

#17859 Add vollseg-napari recipe
  recipes/vollseg-napari/LICENSE.txt
  recipes/vollseg-napari/meta.yaml
  recipes/vollseg-napari/yum_requirements.txt
Labels: staged-recipes, python

#19908 Add napari-metroid recipe
  recipes/napari-metroid/meta.yaml
  recipes/napari-metroid/yum_requirements.txt
Labels: staged-recipes, review-requested

#20039 Add napari-turing recipe
  recipes/napari-turing/meta.yaml
  recipes/napari-turing/yum_requirements.txt
Labels: staged-recipes, review-requested

#19833 Add imaxt-image recipe
  recipes/imaxt-image/LICENSE
  recipes/imaxt-image/meta.yaml
Labels: staged-recipes, review-requested

#19898 Add napari-allencell-annotator recipe
  recipes/napari-allencell-annotator/meta.yaml
  recipes/napari-allencell-annotator/yum_requirements.txt
Labels: staged-recipes, review-requested

#19257 Add vessel-express-napari recipe
  recipes/vessel-express-napari/imports.patch
  recipes/vessel-express-napari/meta.yaml
  recipes/vessel-express-napari/yum_requirements.txt
Labels: staged-recipes, review-requested

#20111 Add pykmip
  recipes/pykmip/meta.yaml
Labels: staged-recipes, review-requested

#19801 Add empyre
  recipes/empyre/LICENSE
  recipes/empyre/meta.yaml
Labels: staged-recipes, review-requested

#19473 Create meta.yaml for pyocd
  recipes/pyocd/meta.yaml
Labels: Awaiting author contribution, python

#20117 Add Global-chem
  recipes/global-chem/LICENSE
  recipes/global-chem/meta.yaml
Labels: staged-recipes, review-requested

#20120 Add molml
  recipes/molml/meta.yaml
Labels: staged-recipes, review-requested

#20118 Add odachi
  recipes/odachi/LICENSE.txt
  recipes/odachi/meta.yaml
Labels: staged-recipes, review-requested

#18698 Added art as a package
  recipes/art/meta.yaml
Labels: review-requested, python, bioconda

#19945 Add mrio_common_metadata
  recipes/mrio_common_metadata/meta.yaml
Labels: review-requested, python

#20124 Added silly as a package
  recipes/silly/meta.yaml
Labels: staged-recipes, review-requested

#20125 Dokter
  recipes/dokter/meta.yaml
Labels: staged-recipes, review-requested

#20127 Added jc as a package
  recipes/jc/meta.yaml
Labels: staged-recipes, review-requested

#20119 Add chemsolve
  recipes/chemsolve/meta.yaml
Labels: staged-recipes, review-requested
