Repository conda-forge/staged-recipes, pull requests merged in 2023-08, with the labels that each got.

#23529 Add dbt-semantic-interfaces
  recipes/dbt-semantic-interfaces/meta.yaml
Labels: review-requested, python

#22791 Moorpy feedstock
  recipes/moorpy/meta.yaml
Labels: review-requested, python

#23531 Adding EOSets package
  recipes/eosets/meta.yaml
Labels: review-requested, python

#23532 Add earthnet recipe
  recipes/earthnet/meta.yaml
Labels: review-requested, python

#23537 Add recipe for r-ssbtools
  recipes/r-ssbtools/bld.bat
  recipes/r-ssbtools/build.sh
  recipes/r-ssbtools/meta.yaml
Labels: R, review-requested

#22663 adding pyhams to conda-forge
  recipes/pyhams/meta.yaml
Labels: review-requested, c-cpp, python-c

#21217 Add napari-assistant-plugin-generator recipe
  recipes/napari-assistant-plugin-generator/meta.yaml
  recipes/napari-assistant-plugin-generator/yum_requirements.txt
Labels: staged-recipes, review-requested

#23540 Added pyvisgraph.
  recipes/pyvisgraph/LICENSE.txt
  recipes/pyvisgraph/meta.yaml
Labels: review-requested, python

#22195 Add in-silico-fate-mapping
  recipes/in-silico-fate-mapping/meta.yaml
  recipes/in-silico-fate-mapping/yum_requirements.txt
Labels: staged-recipes, review-requested

#22729 Add napari-correct-drift recipe
  recipes/napari-correct-drift/meta.yaml
  recipes/napari-correct-drift/yum_requirements.txt
Labels: staged-recipes, review-requested

#22730 Add napari-napari recipe
  recipes/napari-napari/meta.yaml
  recipes/napari-napari/yum_requirements.txt
Labels: staged-recipes, review-requested

#22961 Add napari-geoscience-viewer recipe
  recipes/napari-geoscience-viewer/meta.yaml
  recipes/napari-geoscience-viewer/yum_requirements.txt
Labels: staged-recipes, review-requested

#22958 Add epitools recipe
  recipes/epitools/meta.yaml
  recipes/epitools/yum_requirements.txt
Labels: staged-recipes, review-requested

#22964 Add napari-seedseg recipe
  recipes/napari-seedseg/meta.yaml
  recipes/napari-seedseg/yum_requirements.txt
Labels: staged-recipes, review-requested

#22690 add yosys
  recipes/yosys/bld.bat
  recipes/yosys/build.sh
  recipes/yosys/meta.yaml
Labels: Awaiting author contribution, c-cpp

#23192 Add napari-graph recipe
  recipes/napari-graph/meta.yaml
  recipes/napari-graph/yum_requirements.txt
Labels: staged-recipes, review-requested

#23319 Add napari-vedo-bridge recipe
  recipes/napari-vedo-bridge/meta.yaml
  recipes/napari-vedo-bridge/yum_requirements.txt
Labels: staged-recipes, review-requested

#23326 Add acquifer recipe
  recipes/acquifer/meta.yaml
Labels: staged-recipes, review-requested

#23321 Add tootapari recipe
  recipes/tootapari/meta.yaml
  recipes/tootapari/yum_requirements.txt
Labels: staged-recipes, review-requested

#23323 Add napari-mclabel recipe
  recipes/napari-mclabel/LICENSE.txt
  recipes/napari-mclabel/meta.yaml
  recipes/napari-mclabel/yum_requirements.txt
Labels: staged-recipes, review-requested

#23468 Add pymmcore-widgets recipe
  recipes/pymmcore-widgets/meta.yaml
  recipes/pymmcore-widgets/yum_requirements.txt
Labels: staged-recipes, review-requested

#23548 Add eofetch python package
  recipes/eofetch/meta.yaml
Labels: review-requested, python

#23541 add pydantic-compat
  recipes/pydantic-compat/meta.yaml
Labels: review-requested, python

#22927 Adding `ocsmesh`
  recipes/ocsmesh/meta.yaml
Labels: review-requested, python

#23415 Add carterbox's fork of TorchRadon
  recipes/torch-radon/bld.bat
  recipes/torch-radon/build.sh
  recipes/torch-radon/meta.yaml
Labels: review-requested, python-c

#23553 Add gorilla-cli
  recipes/gorilla-cli/meta.yaml
Labels: review-requested, python

#23472 Add spatial-image recipe
  recipes/spatial-image/meta.yaml
Labels: staged-recipes, review-requested

#23538 Add qt-command-palette recipe
  recipes/qt-command-palette/meta.yaml
Labels: Awaiting author contribution, staged-recipes, review-requested

#23486 Adding varys recipe
  recipes/varys/meta.yaml
Labels: review-requested, python

#23551 Added sigfig as a package
  recipes/sigfig/LICENSE
  recipes/sigfig/meta.yaml
Labels: staged-recipes, review-requested

#22926 Adding pfsspy
  recipes/pfsspy/meta.yaml
Labels: review-requested, python

#23557 Add clickqt package recipe
  recipes/clickqt/meta.yaml
  recipes/clickqt/yum_requirements.txt
Labels: review-requested, python

#23561 Add dotdict as a package
  recipes/dotdict/LICENSE
  recipes/dotdict/meta.yaml
Labels: staged-recipes, review-requested

#23563 Added blackrenderer as a package
  recipes/blackrenderer/meta.yaml
Labels: staged-recipes, review-requested

#23533 Add recipe for r-multiblock
  recipes/r-multiblock/bld.bat
  recipes/r-multiblock/build.sh
  recipes/r-multiblock/meta.yaml
  recipes/r-multiblock/yum_requirements.txt
Labels: R, review-requested

#23565 Added easing-functions as a package
  recipes/easing-functions/LICENCE.md
  recipes/easing-functions/meta.yaml
Labels: staged-recipes, review-requested

#23564 Added fontpends as a package
  recipes/fontpens/meta.yaml
Labels: staged-recipes, review-requested

#23566 Package fps-auth-jupyterhub
  recipes/fps-auth-jupyterlab/meta.yaml
Labels: review-requested, python

#23084 Add cwlref-runner
  recipes/cwlref-runner/LICENSE.txt
  recipes/cwlref-runner/meta.yaml
Labels: review-requested, python

#23571 Added b3denv as a package
  recipes/b3denv/LICENSE
  recipes/b3denv/meta.yaml
Labels: staged-recipes, review-requested

#23569 Adding streamtracer
  recipes/streamtracer/meta.yaml
Labels: review-requested, python

#23047 Adding chemcoord
  recipes/chemcoord/meta.yaml
Labels: review-requested, python

#23582 Added casefy as a package
  recipes/casefy/meta.yaml
Labels: staged-recipes, review-requested

#23577 Added microvenv as a package
  recipes/microvenv/meta.yaml
Labels: staged-recipes, review-requested

#23572 Add compass recipe
  recipes/compass/meta.yaml
Labels: review-requested, python

#23581 Added pyserde as a package
  recipes/pyserde/meta.yaml
Labels: staged-recipes, review-requested

#23584 Added string2string as a package
  recipes/string2string/meta.yaml
Labels: staged-recipes, review-requested

#23583 Added survey as a package
  recipes/survey/meta.yaml
Labels: staged-recipes, review-requested

#23573 Coldtype
  recipes/coldtype/meta.yaml
Labels: staged-recipes, review-requested

#23574 Adding django-contrib-comments
  recipes/django-contrib-comments/meta.yaml
Labels: review-requested, python

#23576 Added creosote as a package
  recipes/creosote/meta.yaml
Labels: staged-recipes, review-requested

#23368 Add perl-mojolicious
  recipes/perl-mojolicious/LICENSE.txt
  recipes/perl-mojolicious/build.sh
  recipes/perl-mojolicious/meta.yaml
Labels: review-requested, perl

#23365 Add perl-data-dumper-concise
  recipes/perl-data-dumper-concise/build.sh
  recipes/perl-data-dumper-concise/meta.yaml
Labels: review-requested, perl

#23590 add recipe for impunity
  recipes/impunity/meta.yaml
Labels: review-requested, python

#23578 Added egglog as a package
  recipes/egglog/meta.yaml
Labels: staged-recipes, review-requested

#23591 Add r-ottr
  recipes/r-ottr/bld.bat
  recipes/r-ottr/build.sh
  recipes/r-ottr/meta.yaml
Labels: R, review-requested

#23535 Add edgedb-python
  recipes/edgedb-python/meta.yaml
Labels: review-requested, python-c

#23457 add PyGAUL package
  recipes/pygaul/meta.yaml
Labels: review-requested, python

#23594 Openlineage airflow noarch
  recipes/openlineage-airflow/LICENSE
  recipes/openlineage-airflow/meta.yaml
Labels: review-requested, python

#23369 add perl-text-unidecode
  recipes/perl-text-unidecode/build.sh
  recipes/perl-text-unidecode/meta.yaml
Labels: review-requested, perl

#23366 Add perl-data-structure-util
  recipes/perl-data-structure-util/build.sh
  recipes/perl-data-structure-util/meta.yaml
Labels: review-requested, perl

#23586 Adding miepython as package
  recipes/miepython/meta.yaml
Labels: review-requested, python

#23601 Adding pidibble, second try
  recipes/pidibble/LICENSE
  recipes/pidibble/meta.yaml
Labels: review-requested, python

#23375 Add monotonicnetworks recipe
  recipes/monotonicnetworks/LICENSE.txt
  recipes/monotonicnetworks/meta.yaml
Labels: review-requested, python

#23509 Adding gitui
  recipes/gitui/bld.bat
  recipes/gitui/build.sh
  recipes/gitui/meta.yaml
Labels: staged-recipes, review-requested

#23589 Add pymorton
  recipes/pymorton/fix-64-bit.patch
  recipes/pymorton/meta.yaml
  recipes/pymorton/v1.0.7.patch
Labels: review-requested, python

#23597 add eqt
  recipes/eqt/meta.yaml
Labels: review-requested, python

#23593 Add skprogs-python recipe
  recipes/skprogs-python/meta.yaml
Labels: staged-recipes, review-requested

#23547 Adding colormaps package
  recipes/colormaps/meta.yaml
Labels: review-requested, python

#23607 Add prophecy-build-tool
  recipes/prophecy-build-tool/meta.yaml
Labels: staged-recipes, review-requested

#23606 Add `dask-expr`
  recipes/dask-expr/meta.yaml
Labels: review-requested, python

#23367 Add perl-date-calc
  recipes/perl-date-calc/build.sh
  recipes/perl-date-calc/meta.yaml
Labels: review-requested, perl

#23360 Added tsdownsample as a package
  recipes/tsdownsample/conda_build_config.yaml
  recipes/tsdownsample/meta.yaml
Labels: staged-recipes, review-requested

#23616 Add detect-test-pollution
  recipes/detect-test-pollution/meta.yaml
Labels: staged-recipes, review-requested

#23102 Adding openvino-telemetry
  recipes/openvino-telemetry/meta.yaml
Labels: review-requested, python

#22691 Add conda-forge recipie for `dgl`
  recipes/dgl/build.sh
  recipes/dgl/conda-build.patch
  recipes/dgl/meta.yaml
Labels: staged-recipes, review-requested, c-cpp

#23625 Add pykerr 0.1.0
  recipes/pykerr/meta.yaml
Labels: review-requested, python

#23386 Add recipe for `deltalake`
  recipes/deltalake/meta.yaml
Labels: staged-recipes, review-requested

#23622 Added r-rnpn as a package
  recipes/r-rnpn/bld.bat
  recipes/r-rnpn/build.sh
  recipes/r-rnpn/meta.yaml
Labels: R, staged-recipes, review-requested

#23626 Added r-ggfx as a package
  recipes/r-ggfx/bld.bat
  recipes/r-ggfx/build.sh
  recipes/r-ggfx/meta.yaml
Labels: R, review-requested

#23627 Added r-snotelr as a package
  recipes/r-snotelr/bld.bat
  recipes/r-snotelr/build.sh
  recipes/r-snotelr/meta.yaml
Labels: R, staged-recipes, review-requested

#23628 Added r-sbtools as a package
  recipes/r-sbtools/LICENSE.md
  recipes/r-sbtools/bld.bat
  recipes/r-sbtools/build.sh
  recipes/r-sbtools/meta.yaml
Labels: R, staged-recipes, review-requested

#23605 Adding cellhint
  recipes/cellhint/meta.yaml
Labels: review-requested, python

#23602 Adding pysubgroup
  recipes/pysubgroup/meta.yaml
Labels: staged-recipes, review-requested

#23523 Add watset
  recipes/watset/bld.bat
  recipes/watset/build.sh
  recipes/watset/meta.yaml
Labels: review-requested, java

#23634 add selenium-manager 4.11.2
  recipes/selenium-manager/bld.bat
  recipes/selenium-manager/build.sh
  recipes/selenium-manager/meta.yaml
Labels: R, staged-recipes, review-requested, c-cpp

#23615 Add holodeck-gw
  recipes/holodeck-gw/meta.yaml
Labels: review-requested, python

#23433 Add xcube-4d-viewer recipe
  recipes/xcube-4d-viewer/meta.yaml
Labels: review-requested, python

#23637 Add coexist
  recipes/coexist/meta.yaml
Labels: staged-recipes, review-requested

#23639 Added r-pkgsearch as a package
  recipes/r-pkgsearch/bld.bat
  recipes/r-pkgsearch/build.sh
  recipes/r-pkgsearch/meta.yaml
Labels: R, staged-recipes, review-requested

#23610 adding htpolynet
  recipes/htpolynet/LICENSE
  recipes/htpolynet/meta.yaml
Labels: staged-recipes, review-requested

#23647 add r-mcp 0.3.3
  recipes/r-mcp/bld.bat
  recipes/r-mcp/build.sh
  recipes/r-mcp/meta.yaml
Labels: R, review-requested

#23598 Add unbaffeld and inference-tools recipes
  recipes/inference-tools/meta.yaml
  recipes/unbaffeld/meta.yaml
Labels: review-requested, python

#23649 Added pokerkit as a package
  recipes/pokerkit/meta.yaml
Labels: staged-recipes, review-requested

#23654 Added aeon as a package
  recipes/aeon/meta.yaml
Labels: staged-recipes, review-requested

#23653 Added randomname as a package
  recipes/randomname/meta.yaml
Labels: staged-recipes, review-requested

#22998 Add antimeridian from PyPI
  recipes/antimeridian/meta.yaml
Labels: review-requested, python

#23640 Added r-docxtractr as a package
  recipes/r-docxtractr/bld.bat
  recipes/r-docxtractr/build.sh
  recipes/r-docxtractr/meta.yaml
Labels: R, staged-recipes, review-requested

#23652 Added whyqd as a package
  recipes/whyqd/meta.yaml
Labels: staged-recipes, review-requested

#23660 Added financetoolkit as a package
  recipes/financetoolkit/meta.yaml
Labels: staged-recipes, review-requested

#23663 Add segment-anything-hq package
  recipes/segment-anything-hq/meta.yaml
Labels: review-requested, python

#23665 Add Lazy-Imports
  recipes/lazy-imports/meta.yaml
Labels: staged-recipes, review-requested

#23297 azure-sdk-for-cpp: core, identity, storage
  recipes/azure-core-cpp/0001-remove-wil-from-exported-config.patch
  recipes/azure-core-cpp/bld.bat
  recipes/azure-core-cpp/build.sh
  recipes/azure-core-cpp/meta.yaml
  recipes/azure-core-cpp/test-linking-src/CMakeLists.txt
  recipes/azure-core-cpp/test-linking-src/test.cpp
  recipes/azure-identity-cpp/CMakeLists.txt
  recipes/azure-identity-cpp/bld.bat
  recipes/azure-identity-cpp/build.sh
  recipes/azure-identity-cpp/meta.yaml
  recipes/azure-storage-blobs-cpp/CMakeLists.txt
  recipes/azure-storage-blobs-cpp/bld.bat
  recipes/azure-storage-blobs-cpp/build.sh
  recipes/azure-storage-blobs-cpp/meta.yaml
  recipes/azure-storage-common-cpp/CMakeLists.txt
  recipes/azure-storage-common-cpp/bld.bat
  recipes/azure-storage-common-cpp/build.sh
  recipes/azure-storage-common-cpp/meta.yaml
  recipes/azure-storage-files-datalake-cpp/CMakeLists.txt
  recipes/azure-storage-files-datalake-cpp/bld.bat
  recipes/azure-storage-files-datalake-cpp/build.sh
  recipes/azure-storage-files-datalake-cpp/meta.yaml
  recipes/azure-storage-files-shares-cpp/CMakeLists.txt
  recipes/azure-storage-files-shares-cpp/bld.bat
  recipes/azure-storage-files-shares-cpp/build.sh
  recipes/azure-storage-files-shares-cpp/meta.yaml
  recipes/azure-storage-queues-cpp/CMakeLists.txt
  recipes/azure-storage-queues-cpp/bld.bat
  recipes/azure-storage-queues-cpp/build.sh
  recipes/azure-storage-queues-cpp/meta.yaml
Labels: review-requested, c-cpp

#23354 Add gnss-sdr
  recipes/gnss-sdr/0001-Manually-specify-compiled-in-GNSSSDR_INSTALL_DIR.patch
  recipes/gnss-sdr/bld-gnss-sdr.bat
  recipes/gnss-sdr/bld-volk-gnss-sdr.bat
  recipes/gnss-sdr/build-gnss-sdr.sh
  recipes/gnss-sdr/build-volk-gnss-sdr.sh
  recipes/gnss-sdr/meta.yaml
Labels: review-requested, c-cpp

#23661 Add tasklib recipe
  recipes/tasklib/meta.yaml
Labels: Awaiting author contribution, staged-recipes, python

#23662 Add pipestat recipe
  recipes/pipestat/meta.yaml
Labels: Awaiting author contribution, python

#23648 Adding sctour
  recipes/sctour/meta.yaml
Labels: review-requested, python

#23559 Adding piqp package
  recipes/piqp/meta.yaml
Labels: Awaiting author contribution, python

#23666 Add azure-ai-ml
  recipes/azure-ai-ml/meta.yaml
Labels: staged-recipes, review-requested

#23667 Add py-grpc-prometheus
  recipes/py-grpc-prometheus/meta.yaml
Labels: staged-recipes, review-requested

#23672 Added unimport as a package
  recipes/unimport/meta.yaml
Labels: staged-recipes, review-requested

#23673 Added pyobsplot as a package
  recipes/pyobsplot/meta.yaml
Labels: staged-recipes, review-requested

#23494 Add caddy
  recipes/caddy/meta.yaml
Labels: staged-recipes, review-requested

#23674 Add dtool_lookup_server_search_plugin_mongo and dtool_lookup_server_retrieve_plugin_mongo
  recipes/dtool_lookup_server_retrieve_plugin_mongo/meta.yaml
  recipes/dtool_lookup_server_search_plugin_mongo/meta.yaml
Labels: staged-recipes, review-requested

#23675 Add cliffordlayers
  recipes/cliffordlayers/meta.yaml
Labels: review-requested, python

#23126 Add ceffyl recipe
  recipes/ceffyl/meta.yaml
Labels: review-requested, python

#23676 Add album-environments recipe
  recipes/album-environments/meta.yaml
Labels: review-requested, python

#23679 Adding kedro-viz 6.3.4
  recipes/kedro-viz/COPYING.txt
  recipes/kedro-viz/LICENSE.md
  recipes/kedro-viz/meta.yaml
Labels: review-requested, python

#23678 Add PTArcade recipe
  recipes/ptarcade/meta.yaml
Labels: review-requested, python

#23680 Added markdown-code-runner as a package
  recipes/markdown-code-runner/meta.yaml
Labels: staged-recipes, review-requested

#23683 ENH add mpipartition
  recipes/mpipartition/meta.yaml
Labels: staged-recipes, review-requested

#23681 Added clipboard as a package
  recipes/clipboard/LICENSE
  recipes/clipboard/meta.yaml
Labels: staged-recipes, review-requested

#23691 Add Kedro-light
  recipes/kedro-light/meta.yaml
Labels: staged-recipes, review-requested

#23689 Array to latex
  recipes/array_to_latex/meta.yaml
Labels: staged-recipes, review-requested

#23692 Add recipe for jaxonnxruntime
  recipes/jaxonnxruntime/meta.yaml
Labels: staged-recipes, review-requested

#23688 Added r-greta as a package
  recipes/r-greta/LICENSE
  recipes/r-greta/bld.bat
  recipes/r-greta/build.sh
  recipes/r-greta/meta.yaml
Labels: staged-recipes, review-requested

#23508 add ecmwf-opendata
  recipes/ecmwf-opendata/meta.yaml
Labels: Awaiting author contribution, python

#23385 add tcmarkers
  recipes/tcmarkers/meta.yaml
Labels: Awaiting author contribution, python

#23696 add aimsim recipe
  recipes/aimsim/meta.yaml
Labels: review-requested, python

#23655 Added r-messydates as a package
  recipes/r-messydates/bld.bat
  recipes/r-messydates/build.sh
  recipes/r-messydates/meta.yaml
Labels: R, staged-recipes, review-requested

#23684 Add rateslib
  recipes/rateslib/meta.yaml
Labels: review-requested, python

#23702 add mypy-gitlab-code-quality 1.0.0
  recipes/mypy-gitlab-code-quality/meta.yaml
Labels: staged-recipes, review-requested, python

#23490 Adding recipe for mappyfile
  recipes/mappyfile/meta.yaml
Labels: review-requested, python

#23698 Add resvg (language: rust)
  recipes/resvg/bld.bat
  recipes/resvg/build.sh
  recipes/resvg/meta.yaml
Labels: staged-recipes, review-requested

#23700 add `astartes` recipe
  recipes/astartes/meta.yaml
Labels: review-requested, python

#23670 Add r-pathfindr.data
  recipes/r-pathfindr.data/bld.bat
  recipes/r-pathfindr.data/build.sh
  recipes/r-pathfindr.data/meta.yaml
Labels: R, review-requested

#23703 Adding recipe for google-cloud-artifact-registry.
  recipes/google-cloud-artifact-registry/meta.yaml
Labels: review-requested, python

#18148 Add spral
  recipes/spral/build.sh
  recipes/spral/meta.yaml
Labels: staged-recipes, review-requested, c-cpp

#23657 Added r-rcatch22 as a package
  recipes/r-rcatch22/bld.bat
  recipes/r-rcatch22/build.sh
  recipes/r-rcatch22/meta.yaml
Labels: R, review-requested

#23414 add windows-terminal
  recipes/windows-terminal/meta.yaml
  recipes/windows-terminal/wt.cmd
Labels: staged-recipes, review-requested

#23708 Add mdanalysis-sphinx-theme
  recipes/mdanalysis-sphinx-theme/meta.yaml
Labels: review-requested, python

#23715 Add atomistics package
  recipes/atomistics/meta.yaml
Labels: staged-recipes, review-requested

#23716 add doodleverse-utils
  recipes/CoastSeg/meta.yaml
  recipes/area/meta.yaml
  recipes/coastsat-package/meta.yaml
  recipes/doodleverse-utils/meta.yaml
Labels: staged-recipes, review-requested

#23719 Add RigolWFM
  recipes/RigolWFM/meta.yaml
Labels: review-requested, python

#23723 Add securesystemslib
  recipes/securesystemslib/meta.yaml
Labels: review-requested, python

#23729 Add missing apache airflow providers
  recipes/apache-airflow-providers-apache-flink/meta.yaml
  recipes/apache-airflow-providers-apache-kafka/meta.yaml
  recipes/apache-airflow-providers-apprise/meta.yaml
  recipes/apache-airflow-providers-arangodb/meta.yaml
  recipes/apache-airflow-providers-atlassian-jira/meta.yaml
  recipes/apache-airflow-providers-daskexecutor/meta.yaml
  recipes/apache-airflow-providers-openlineage/meta.yaml
  recipes/apache-airflow-providers-tabular/meta.yaml
Labels: review-requested, python

#23731 add chroma-hnswlib
  recipes/chroma-hnswlib/meta.yaml
Labels: staged-recipes, review-requested

#23733 Add shortid
  recipes/shortid/LICENSE
  recipes/shortid/meta.yaml
Labels: staged-recipes, review-requested

#23711 added r-shapviz
  recipes/r-shapviz/bld.bat
  recipes/r-shapviz/build.sh
  recipes/r-shapviz/meta.yaml
Labels: R, review-requested

#23599 Add rtdip-sdk recipe
  recipes/rtdip-sdk/LICENSE.txt
  recipes/rtdip-sdk/meta.yaml
Labels: review-requested, python
