Repository conda-forge/staged-recipes, pull requests merged in 2023-09, with the labels that each got.

#23856 Ignore `conda-smithy` up-to-date checks
  .github/workflows/scripts/create_feedstocks.py
Labels: maintenance

#23857 intake-nested-yaml-catalog
  recipes/intake-nested-yaml-catalog/LICENSE
  recipes/intake-nested-yaml-catalog/meta.yaml
  recipes/setuptools-parcels/LICENSE
  recipes/setuptools-parcels/meta.yaml
  recipes/vcver/meta.yaml
Labels: staged-recipes, review-requested

#23721 Add new package `sparc-x`
  recipes/sparc/activate.sh
  recipes/sparc/build.sh
  recipes/sparc/deactivate.sh
  recipes/sparc/meta.yaml
Labels: staged-recipes, review-requested, c-cpp

#23840 add recipe to build pyemu package
  recipes/pyemu/meta.yaml
Labels: review-requested, python

#23872 add recipe to build modflow-devtools package
  recipes/modflow-devtools/meta.yaml
Labels: review-requested, python

#23871 add pyspeckle package
  recipes/pyspeckle/meta.yaml
Labels: review-requested, python

#23870 Add Pydantic-yaml
  recipes/pydantic-yaml/meta.yaml
Labels: staged-recipes, review-requested

#23869 Add reno recipe
  recipes/reno/meta.yaml
Labels: review-requested, python

#23874 add binwalk 2.3.4
  recipes/binwalk/0000-setup-py-version.diff
  recipes/binwalk/0001-extractor-is-zero.diff
  recipes/binwalk/meta.yaml
Labels: staged-recipes, review-requested, python

#23876 NEW: Add cargo-c
  recipes/cargo-c/bld.bat
  recipes/cargo-c/build.sh
  recipes/cargo-c/conda-forge.yml
  recipes/cargo-c/meta.yaml
Labels: review-requested, rust

#23875 add sng 1.1.0
  recipes/sng/build.sh
  recipes/sng/meta.yaml
Labels: staged-recipes, review-requested, c-cpp

#23884 Add feathr
  recipes/feathr/LICENSE
  recipes/feathr/NOTICE
  recipes/feathr/meta.yaml
Labels: staged-recipes, review-requested

#23878 Add irrep
  recipes/irrep/meta.yaml
  recipes/irreptables/LICENSE
  recipes/irreptables/meta.yaml
Labels: staged-recipes, review-requested

#23887 Adding dockstring package
  recipes/dockstring/meta.yaml
Labels: review-requested, python

#23750 Add rasam
  recipes/rasam/bld.bat
  recipes/rasam/build.sh
  recipes/rasam/meta.yaml
Labels: Awaiting author contribution, c-cpp

#23895 Add Kedro-Pandera
  recipes/kedro-pandera/meta.yaml
Labels: staged-recipes, review-requested

#23893 Add grayskull-generated recipe for resolve-robotics-uri-py
  recipes/resolve-robotics-uri-py/meta.yaml
Labels: staged-recipes, review-requested, python

#23863 Add opensimplex python package
  recipes/opensimplex/meta.yaml
Labels: staged-recipes, review-requested

#23899 Add Django_tenant_schemas
  recipes/django-tenant-schemas/meta.yaml
Labels: staged-recipes, review-requested

#23900 Add Django Tenants
  recipes/django-tenants/meta.yaml
Labels: staged-recipes, review-requested

#23906 Initial addition of tstrait
  recipes/tstrait/meta.yaml
Labels: review-requested, python

#22761 Add taskipy recipe
  recipes/taskipy/meta.yaml
Labels: review-requested, python

#23658 Add Kit4DL
  recipes/kit4dl/meta.yaml
Labels: review-requested, python

#23911 Add noarch Python package mslex
  recipes/mslex/meta.yaml
Labels: review-requested, python

#23914 Adding compas_eve (event-based communication for COMPAS framework)
  recipes/compas_eve/meta.yaml
Labels: review-requested, python

#23916 add apricot-select recipe
  recipes/apricot-select/LICENSE
  recipes/apricot-select/meta.yaml
Labels: review-requested, python

#23862 Add dolos package
  recipes/dolos/meta.yaml
Labels: review-requested, python

#23448 add archinfo
  recipes/archinfo/meta.yaml
Labels: staged-recipes, review-requested

#23028 ADD somata recipe
  recipes/somata/meta.yaml
Labels: review-requested, python

#23924 Add go compilers to ci_support
  .ci_support/linux64.yaml
  .ci_support/linux64_cuda112.yaml
  .ci_support/osx64.yaml
  .ci_support/win64.yaml
Labels: staged-recipes, review-requested

#23929 add pyrtcm package
  recipes/pyrtcm/meta.yaml
Labels: review-requested, python

#23928 Add print-on-steroids
  recipes/print-on-steroids/meta.yaml
Labels: review-requested, python

#23913 Add django-guid
  recipes/django-guid/meta.yaml
Labels: staged-recipes, review-requested

#23933 Add fastapi-admin
  recipes/fastapi-admin/meta.yaml
Labels: staged-recipes, review-requested

#23925 Adding IngeoML
  recipes/ingeoml/meta.yaml
Labels: review-requested, python

#23936 Add Bigframes
  recipes/bigframes/meta.yaml
  recipes/google-cloud-bigquery-connection/meta.yaml
  recipes/google-cloud-functions/meta.yaml
Labels: staged-recipes, review-requested

#23932 Adding package SMACT
  recipes/smact/meta.yaml
Labels: review-requested, python

#23935 Add fastapi-crudrouter
  recipes/fastapi-crudrouter/meta.yaml
Labels: staged-recipes, review-requested

#23934 Add fastapi-pagination
  recipes/fastapi-pagination/meta.yaml
Labels: staged-recipes, review-requested

#22497 Adding the Python-C AIHWKIT package.
  recipes/aihwkit/build.sh
  recipes/aihwkit/meta.yaml
Labels: staged-recipes, review-requested

#23942 Django grpc
  recipes/django-grpc/meta.yaml
Labels: staged-recipes, review-requested

#23941 Add pyproject2conda
  recipes/pyproject2conda/meta.yaml
Labels: review-requested, python

#23940 Add proto-parser
  recipes/proto-parser/LICENSE
  recipes/proto-parser/meta.yaml
Labels: staged-recipes, review-requested

#23889 Added whl2conda recipe
  recipes/whl2conda/LICENSE.md
  recipes/whl2conda/meta.yaml
Labels: review-requested, python

#23947 behave-django
  recipes/behave-django/meta.yaml
Labels: staged-recipes, review-requested

#23946 basedmypy
  recipes/basedmypy/meta.yaml
  recipes/basedtyping/LICENSE
  recipes/basedtyping/meta.yaml
Labels: staged-recipes, review-requested

#23945 Add flake8-logging
  recipes/flake8-logging/meta.yaml
Labels: staged-recipes, review-requested

#23953 Pytest robotframework
  recipes/pytest-robotframework/LICENSE
  recipes/pytest-robotframework/meta.yaml
Labels: staged-recipes, review-requested

#23902 Add gimble recipe
  recipes/gimble/LICENSE
  recipes/gimble/meta.yaml
Labels: staged-recipes, review-requested

#23949 Add django-linear-migrations
  recipes/django-linear-migrations/meta.yaml
Labels: staged-recipes, review-requested

#23955 Singleton decorator
  recipes/singleton-decorator/LICENSE
  recipes/singleton-decorator/meta.yaml
Labels: staged-recipes, review-requested

#23830 Add minio-server
  recipes/minio-server/bld.bat
  recipes/minio-server/build.sh
  recipes/minio-server/manual_licenses/github.com/cespare/xxhash/v2/LICENSE.txt
  recipes/minio-server/manual_licenses/github.com/dchest/siphash/LICENSE
  recipes/minio-server/manual_licenses/github.com/golang/snappy/LICENSE
  recipes/minio-server/manual_licenses/github.com/klauspost/compress/huff0/LICENSE
  recipes/minio-server/manual_licenses/github.com/klauspost/compress/internal/cpuinfo/LICENSE
  recipes/minio-server/manual_licenses/github.com/klauspost/compress/s2/LICENSE
  recipes/minio-server/manual_licenses/github.com/klauspost/compress/zstd/LICENSE
  recipes/minio-server/manual_licenses/github.com/klauspost/compress/zstd/internal/xxhash/LICENSE.txt
  recipes/minio-server/manual_licenses/github.com/klauspost/cpuid/v2/LICENSE
  recipes/minio-server/manual_licenses/github.com/klauspost/reedsolomon/LICENSE
  recipes/minio-server/manual_licenses/github.com/mattn/go-localereader/LICENSE
  recipes/minio-server/manual_licenses/github.com/minio/colorjson/UNLICENSE
  recipes/minio-server/manual_licenses/github.com/minio/console/LICENSE
  recipes/minio-server/manual_licenses/github.com/minio/console/models/LICENSE
  recipes/minio-server/manual_licenses/github.com/minio/console/restapi/LICENSE
  recipes/minio-server/manual_licenses/github.com/minio/csvparser/UNLICENSE
  recipes/minio-server/manual_licenses/github.com/minio/dperf/pkg/dperf/LICENSE
  recipes/minio-server/manual_licenses/github.com/minio/filepath/UNLICENSE
  recipes/minio-server/manual_licenses/github.com/minio/highwayhash/LICENSE
  recipes/minio-server/manual_licenses/github.com/minio/kes-go/LICENSE
  recipes/minio-server/manual_licenses/github.com/minio/madmin-go/v3/LICENSE
  recipes/minio-server/manual_licenses/github.com/minio/mc/cmd/LICENSE
  recipes/minio-server/manual_licenses/github.com/minio/mc/pkg/LICENSE
  recipes/minio-server/manual_licenses/github.com/minio/md5-simd/LICENSE
  recipes/minio-server/manual_licenses/github.com/minio/minio/LICENSE
  recipes/minio-server/manual_licenses/github.com/minio/minio/cmd/LICENSE
  recipes/minio-server/manual_licenses/github.com/minio/pkg/LICENSE
  recipes/minio-server/manual_licenses/github.com/minio/sha256-simd/LICENSE
  recipes/minio-server/manual_licenses/github.com/minio/simdjson-go/LICENSE
  recipes/minio-server/manual_licenses/github.com/modern-go/reflect2/LICENSE
  recipes/minio-server/manual_licenses/github.com/pierrec/lz4/LICENSE
  recipes/minio-server/manual_licenses/github.com/pierrec/lz4/v4/internal/lz4block/LICENSE
  recipes/minio-server/manual_licenses/github.com/shirou/gopsutil/v3/disk/LICENSE
  recipes/minio-server/manual_licenses/github.com/shirou/gopsutil/v3/host/LICENSE
  recipes/minio-server/manual_licenses/github.com/zeebo/xxh3/LICENSE
  recipes/minio-server/manual_licenses/golang.org/x/crypto/argon2/LICENSE
  recipes/minio-server/manual_licenses/golang.org/x/crypto/blake2b/LICENSE
  recipes/minio-server/manual_licenses/golang.org/x/crypto/chacha20/LICENSE
  recipes/minio-server/manual_licenses/golang.org/x/crypto/chacha20poly1305/LICENSE
  recipes/minio-server/manual_licenses/golang.org/x/crypto/internal/poly1305/LICENSE
  recipes/minio-server/manual_licenses/golang.org/x/crypto/salsa20/salsa/LICENSE
  recipes/minio-server/manual_licenses/golang.org/x/crypto/sha3/LICENSE
  recipes/minio-server/manual_licenses/golang.org/x/net/internal/socket/LICENSE
  recipes/minio-server/manual_licenses/golang.org/x/sys/cpu/LICENSE
  recipes/minio-server/manual_licenses/golang.org/x/sys/unix/LICENSE
  recipes/minio-server/meta.yaml
  recipes/minio-server/patches/0001-commitID.patch
Labels: staged-recipes, review-requested

#22030 Add FINAM python package
  recipes/finam/meta.yaml
  recipes/finam/skip_c_log_test_win.patch
Labels: staged-recipes, review-requested, python

#23956 Jupyterlab s3 browser
  recipes/jupyterlab-s3-browser/meta.yaml
Labels: staged-recipes, review-requested

#23614 add uhdm
  recipes/uhdm/build.sh
  recipes/uhdm/meta.yaml
  recipes/uhdm/patches/0001-move-lib-from-namespace.patch
Labels: review-requested, c-cpp

#23937 add pynmeagps package (retry)
  recipes/pynmeagps/meta.yaml
Labels: review-requested, python

#23963 add pyubx2 package
  recipes/pyubx2/meta.yaml
Labels: review-requested, python

#22451 Adding cotengra
  recipes/cotengra/meta.yaml
Labels: review-requested, python

#23966 Add recipe for sphinxcontrib-matlabdomain
  recipes/sphinxcontrib-matlabdomain/meta.yaml
Labels: review-requested, python

#23954 Adding ODA-API: accessing astronomical data analysis workflows at MMODA
  recipes/oda-api/meta.yaml
Labels: review-requested, python

#23967 Add ixmp4 recipe
  recipes/ixmp4/meta.yaml
Labels: review-requested, python

#23970 Added bsplines2d, greyskull-generated
  recipes/bsplines2d/meta.yaml
Labels: review-requested, python

#23971 Add qgis-plugin-manager package
  recipes/qgis-plugin-manager/LICENSE
  recipes/qgis-plugin-manager/meta.yaml
Labels: review-requested, python

#23805 Add "mesa-geo" package
  recipes/mesa-geo/meta.yaml
Labels: review-requested, python

#23972 Add powerpax
  recipes/powerpax/meta.yaml
Labels: review-requested, python

#23927 Adding stemflow
  recipes/stemflow/meta.yaml
Labels: review-requested, python

#23980 add recipe for click-configfile
  recipes/click-configfile/meta.yaml
Labels: review-requested, python

#23977 Add `tsml` as a package
  recipes/tsml/meta.yaml
Labels: review-requested, python

#23965 add minizip
  recipes/minizip/bld.bat
  recipes/minizip/build.sh
  recipes/minizip/meta.yaml
Labels: review-requested, c-cpp

#23978 Add `laserbeamsize` as a package
  recipes/laserbeamsize/meta.yaml
Labels: review-requested, python

#23974 Add PYPI package NorMI.
  recipes/normi/meta.yaml
Labels: review-requested, python

#23990 Add unix-ar
  recipes/unix-ar/meta.yaml
Labels: staged-recipes, review-requested

#23994 Add Robot Assertionengine
  recipes/robotframework-assertion-engine/meta.yaml
Labels: staged-recipes, review-requested

#23516 Add wgpu-native
  recipes/webgpu-headers/bld.bat
  recipes/webgpu-headers/build.sh
  recipes/webgpu-headers/meta.yaml
  recipes/wgpu-native/bld.bat
  recipes/wgpu-native/build.sh
  recipes/wgpu-native/conda-forge.yml
  recipes/wgpu-native/conda_build_config.yaml
  recipes/wgpu-native/meta.yaml
  recipes/wgpu-native/use_prefix.patch
Labels: review-requested, c-cpp, rust

#23982 add pyodide-lock 0.1.0a3
  recipes/pyodide-lock/meta.yaml
Labels: staged-recipes, review-requested, python

#23991 Add recipe for the trlib C library
  recipes/trlib/23.patch
  recipes/trlib/bld.bat
  recipes/trlib/build.sh
  recipes/trlib/disable_valgrind.patch
  recipes/trlib/meta.yaml
  recipes/trlib/win_fix.patch
Labels: staged-recipes, review-requested, c-cpp

#24000 Add geomesher
  recipes/geomesher/meta.yaml
  recipes/geomesher/yum_requirements.txt
Labels: review-requested, python

#23888 :hammer: add pywaterflood recipe
  recipes/pywaterflood/meta.yaml
Labels: review-requested, python

#23988 Add CRAN recipe RcppInt64
  recipes/r-rcppint64/bld.bat
  recipes/r-rcppint64/build.sh
  recipes/r-rcppint64/meta.yaml
Labels: R, review-requested

#23646 add r-mediation 4.5.0
  recipes/r-mediation/bld.bat
  recipes/r-mediation/build.sh
  recipes/r-mediation/meta.yaml
Labels: R, review-requested

#24012 Add recipe for raynest
  recipes/raynest/meta.yaml
Labels: staged-recipes, review-requested

#20591 Add osdf-client
  recipes/osdf-client/meta.yaml
Labels: staged-recipes, review-requested, go

#23635 Add heat package
  recipes/heat/meta.yaml
Labels: staged-recipes, review-requested

#24009 Added pgdumplib
  recipes/pgdumplib/meta.yaml
Labels: staged-recipes, review-requested

#24014 Add pyobjc-framework-applicationservices
  recipes/pyobjc-framework-CoreText/meta.yaml
  recipes/pyobjc-framework-applicationservices/meta.yaml
Labels: staged-recipes, review-requested

#24018 Add py-wake
  recipes/py-wake/meta.yaml
Labels: review-requested, python

#23143 Add a recipe for Lagrange-NG
  recipes/lagrange-ng/build.sh
  recipes/lagrange-ng/meta.yaml
  recipes/lagrange-ng/run_test.sh
Labels: staged-recipes, review-requested, c-cpp

#23975 Adding `powerfit`
  recipes/powerfit/meta.yaml
Labels: review-requested, python

#24010 Add uiautomation
  recipes/uiautomation/meta.yaml
Labels: staged-recipes, review-requested

#23873 Add python packages for sagemaker studio analytics jupyter extension
  recipes/sagemaker-studio-analytics-extension/meta.yaml
  recipes/sagemaker-studio-sparkmagic-lib/meta.yaml
Labels: review-requested, python

#24026 Added cbor2 as a package
  recipes/cbor2/meta.yaml
Labels: staged-recipes, review-requested

#24046 Added pyparam as a package
  recipes/pyparam/meta.yaml
Labels: staged-recipes, review-requested

#24044 Added pytest-speed as a package
  recipes/pytest-speed/LICENSE
  recipes/pytest-speed/meta.yaml
Labels: staged-recipes, review-requested

#24042 Added qtoml as a package
  recipes/qtoml/meta.yaml
Labels: staged-recipes, review-requested

#24041 Added financedatabase as a package
  recipes/financedatabase/meta.yaml
Labels: staged-recipes, review-requested

#24048 Add robocorp-truststore
  recipes/robocorp-truststore/meta.yaml
Labels: review-requested, python

#24043 Added rtoml as a package
  recipes/rtoml/meta.yaml
Labels: staged-recipes, review-requested

#24040 Added webauthn as a package
  recipes/webauthn/meta.yaml
Labels: staged-recipes, review-requested

#24038 add metocean-api
  recipes/metocean-api/meta.yaml
Labels: review-requested, python

#24031 Adding graphpro pip package
  recipes/graphpro/meta.yaml
Labels: review-requested, python

#24027 add iadpython
  recipes/iadpython/meta.yaml
Labels: review-requested, python

#24025 add check-wheel-contents 0.4.0
  recipes/check-wheel-contents/meta.yaml
Labels: staged-recipes, review-requested, python

#24016 Add llama-index
  recipes/llama-index/meta.yaml
Labels: staged-recipes, review-requested

#22889 Add perl-uri-query new recipe
  recipes/perl-uri-query/bld.bat
  recipes/perl-uri-query/build.sh
  recipes/perl-uri-query/meta.yaml
Labels: review-requested, perl

#23041 Add s2sphere
  recipes/s2sphere/LICENSE
  recipes/s2sphere/meta.yaml
Labels: review-requested, python

#23968 Add grayskull-generated recipe for `rod` Python package
  recipes/rod/meta.yaml
Labels: staged-recipes, review-requested, python

#24055 add ofiber
  recipes/ofiber/meta.yaml
Labels: review-requested, python

#24032 Add roboframework Windows Jawa Access Bridge Wrapper
  recipes/java-access-bridge-wrapper/meta.yaml
Labels: staged-recipes, review-requested

#24062 Add smartsheet-python-sdk v3.0.2
  recipes/smartsheet-python-sdk/meta.yaml
Labels: staged-recipes, review-requested

#24063 Add hubspot-api-client v4.0.6
  recipes/hubspot-api-client/meta.yaml
Labels: staged-recipes, review-requested

#24064 Add htmldocx v0.0.6
  recipes/htmldocx/meta.yaml
Labels: staged-recipes, review-requested

#24065 Conda minify
  recipes/conda-minify/LICENSE
  recipes/conda-minify/meta.yaml
Labels: staged-recipes, review-requested

#24070 Create cookiecutter-django-core
  recipes/cookiecutter-django-core/meta.yaml
Labels: staged-recipes, review-requested

#23986 Add pedantic to conda-forge
  recipes/pedantic/meta.yaml
Labels: review-requested, python

#24073 adding metocean-stats
  recipes/metocean-stats/meta.yaml
Labels: review-requested, python

#24066 Adding ctapipe io magic
  recipes/ctapipe_io_magic/meta.yaml
Labels: review-requested, python

#24072 add python-ace
  recipes/python-ace/meta.yaml
Labels: staged-recipes, review-requested

#23961 Add recipe for Jupyter Scheduler
  recipes/jupyter-scheduler/meta.yaml
Labels: staged-recipes, review-requested

#23959 Adds jupyter-ai and jupyter-ai-magics YAML files
  recipes/jupyter-ai-magics/meta.yaml
  recipes/jupyter-ai/meta.yaml
Labels: review-requested, python

#24075 Add recipe for redflag
  recipes/redflag/meta.yaml
Labels: review-requested, python

#24061 Add PRIMA derivative-free optim lib
  recipes/prima/bld.bat
  recipes/prima/build.sh
  recipes/prima/meta.yaml
  recipes/prima/stop.patch
Labels: staged-recipes, review-requested

#24080 Adding the AutoEFT package
  recipes/autoeft/meta.yaml
Labels: review-requested, python

#22953 Add jupyterlab-mathjax2
  recipes/jupyterlab-mathjax2/meta.yaml
Labels: review-requested, python

#24083 Adding FreeQDSK
  recipes/freeqdsk/LICENSE
  recipes/freeqdsk/meta.yaml
Labels: review-requested, python

#24089 Add recipe for shandy-sqlfmt
  recipes/shandy-sqlfmt/meta.yaml
Labels: staged-recipes, review-requested

#24087 Add recipe for textual-textarea
  recipes/textual-textarea/meta.yaml
Labels: staged-recipes, review-requested

#23713 Adding cloud-data-connector and azureml packages
  recipes/azureml/LICENSE
  recipes/azureml/meta.yaml
  recipes/cloud-data-connector/LICENSE
  recipes/cloud-data-connector/meta.yaml
Labels: review-requested, python

#24092 Add recipe for harlequin
  recipes/harlequin/meta.yaml
Labels: staged-recipes, review-requested
