Repository conda-forge/staged-recipes, pull requests merged in 2023-04, with the labels that each got.

#22449 Add R package webshot2
  recipes/r-webshot2/bld.bat
  recipes/r-webshot2/build.sh
  recipes/r-webshot2/meta.yaml
Labels: R, review-requested

#22463 Add source recipe
  recipes/source/meta.yaml
Labels: staged-recipes, review-requested, python

#20851 Add okapi-em recipe
  recipes/okapi-em/meta.yaml
  recipes/okapi-em/yum_requirements.txt
Labels: staged-recipes, review-requested

#21905 Add napari-result-stack recipe
  recipes/napari-result-stack/meta.yaml
  recipes/napari-result-stack/yum_requirements.txt
Labels: staged-recipes, review-requested

#22282 Add pynecone recipe
  recipes/pynecone/meta.yaml
Labels: staged-recipes, review-requested

#22423 Add sklearn-genetic-opt recipe
  recipes/sklearn-genetic-opt/meta.yaml
Labels: staged-recipes, review-requested

#22457 add peft and loralib
  recipes/loralib/LICENSE.md
  recipes/loralib/meta.yaml
  recipes/peft/meta.yaml
Labels: review-requested, python

#21954 Adding mlir-python-bindings
  recipes/mlir-python-bindings/0001-Support-cross-compiling-standalone-MLIR.patch
  recipes/mlir-python-bindings/bld.bat
  recipes/mlir-python-bindings/build.sh
  recipes/mlir-python-bindings/conda_build_config.yaml
  recipes/mlir-python-bindings/meta.yaml
Labels: staged-recipes, review-requested

#22469 recipe for healpix from pypi
  recipes/healpix/meta.yaml
Labels: staged-recipes, review-requested

#22476 Add aiocron
  recipes/aiocron/meta.yaml
Labels: review-requested, python

#22459 Add receipe for jinja2schema
  recipes/jinja2schema/meta.yaml
Labels: review-requested, python

#22466 Adding pytcs
  recipes/pytcs/meta.yaml
Labels: review-requested, python

#22422 Add napari-tomotwin recipe
  recipes/napari-tomotwin/meta.yaml
Labels: staged-recipes, review-requested

#22472 add sphinx-favicon
  recipes/sphinx-favicon/meta.yaml
Labels: review-requested, python

#22467 Adding dingo-gw package
  recipes/dingo-gw/meta.yaml
  recipes/dingo-gw/no-lalsuite.patch
Labels: staged-recipes, review-requested

#22477 Add aiohttp-devtools
  recipes/aiohttp-devtools/meta.yaml
Labels: review-requested, python

#22481 Add sqlalchemy-cockroachdb
  recipes/sqlalchemy-cockroachdb/0001-Specify-UTF-8-Encoding-when-reading-files-during-set.patch
  recipes/sqlalchemy-cockroachdb/meta.yaml
Labels: review-requested, python

#20246 Add collections-undo recipe
  recipes/collections-undo/meta.yaml
Labels: staged-recipes, review-requested

#21837 Add oneat-augmentations recipe
  recipes/oneat-augmentations/meta.yaml
  recipes/oneat-augmentations/yum_requirements.txt
Labels: staged-recipes, review-requested

#22475 Add `jupyterlite-core 0.1.0`, `jupyterlite 0.1.0`, and `jupyterlite-pyodide-kernel 0.1.0`
  recipes/jupyterlite-core/extract-third-party-licenses.py
  recipes/jupyterlite-core/meta.yaml
  recipes/jupyterlite-pyodide-kernel/meta.yaml
  recipes/jupyterlite/meta.yaml
Labels: staged-recipes, review-requested, python

#22488 Package jupyverse-api
  recipes/jupyverse-api/meta.yaml
Labels: review-requested, python

#22450 Add parallel-ssh as a package
  recipes/parallel-ssh/meta.yaml
Labels: staged-recipes, review-requested

#22464 Adding pybacktrack
  recipes/pybacktrack/meta.yaml
  recipes/pybacktrack/yum_requirements.txt
Labels: review-requested, python

#22249 Add lightning
  recipes/lightning/meta.yaml
Labels: review-requested, python

#22456 Adding conda-project
  recipes/conda-project/meta.yaml
Labels: review-requested, python

#21953 Adding cuda-cccl recipe
  recipes/cuda-cccl-impl/bld.bat
  recipes/cuda-cccl-impl/build.sh
  recipes/cuda-cccl-impl/meta.yaml
  recipes/cuda-cccl/bld.bat
  recipes/cuda-cccl/build.sh
  recipes/cuda-cccl/conda_build_config.yaml
  recipes/cuda-cccl/meta.yaml
Labels: staged-recipes, review-requested

#21924 Add `libcusolver`, `libcusparse`, and `libnvjitlink` recipes
  recipes/libcusolver/bld.bat
  recipes/libcusolver/build.sh
  recipes/libcusolver/conda_build_config.yaml
  recipes/libcusolver/meta.yaml
  recipes/libcusparse/bld.bat
  recipes/libcusparse/build.sh
  recipes/libcusparse/conda_build_config.yaml
  recipes/libcusparse/meta.yaml
  recipes/libnvjitlink/bld.bat
  recipes/libnvjitlink/build.sh
  recipes/libnvjitlink/conda_build_config.yaml
  recipes/libnvjitlink/meta.yaml
Labels: staged-recipes, review-requested

#22500 ENH recipe for conda-forge-metadata
  recipes/cfm/meta.yaml
Labels: staged-recipes, review-requested

#22386 Recipe for excitingtools python package
  recipes/excitingtools/meta.yaml
Labels: review-requested, python

#22489 Add color-operations
  recipes/color-operations/meta.yaml
Labels: review-requested, python-c

#22494 Add recipe for mps-motion
  recipes/mps-motion/meta.yaml
  recipes/mps-motion/yum_requirements.txt
Labels: review-requested, python

#22452 Added duckargs as a package
  recipes/duckargs/meta.yaml
Labels: staged-recipes, review-requested

#22215 Add Gravelamps recipe
  recipes/gravelamps/meta.yaml
Labels: review-requested, python-c

#22405 Add pyseobnr and pygsl_lite packages
  recipes/pygsl_lite/meta.yaml
  recipes/pyseobnr/meta.yaml
Labels: review-requested, python-c

#22506 Add recipe for r-pedquant
  recipes/r-pedquant/bld.bat
  recipes/r-pedquant/build.sh
  recipes/r-pedquant/meta.yaml
Labels: R, review-requested

#22496 Add mmengine
  recipes/mmengine/LICENSE
  recipes/mmengine/meta.yaml
Labels: review-requested, python

#22509 add bigbrother
  recipes/bigbrother/meta.yaml
Labels: review-requested, python

#22514 add hpc
  recipes/hpc/meta.yaml
Labels: review-requested, python

#22517 add afscgap
  recipes/afscgap/meta.yaml
Labels: staged-recipes, review-requested

#22508 Add litepcie
  recipes/litepcie/meta.yaml
  recipes/litepcie/patches/0001-add-manifest-uplift-setup.py-to-pass-twine-checks.patch
Labels: review-requested, python

#22395 add xkcd-cli
  recipes/xkcd-cli/LICENSE
  recipes/xkcd-cli/meta.yaml
Labels: staged-recipes, review-requested

#22491 added mixpanel recipe generated by grayskull
  recipes/mixpanel/meta.yaml
Labels: review-requested, python

#22516 Add tranquilo
  recipes/tranquilo/meta.yaml
Labels: review-requested, python

#21835 Add perfmetrics recipe
  recipes/perfmetrics/meta.yaml
Labels: staged-recipes, review-requested

#20037 Add napari-boids recipe
  recipes/napari-boids/meta.yaml
  recipes/napari-boids/yum_requirements.txt
Labels: staged-recipes, review-requested

#21612 Add napari-conidie recipe
  recipes/napari-conidie/meta.yaml
  recipes/napari-conidie/yum_requirements.txt
Labels: staged-recipes, review-requested

#22535 Add remotezip recipe
  recipes/remotezip/meta.yaml
Labels: review-requested, python

#21787 Add napari-aphid recipe
  recipes/napari-aphid/meta.yaml
  recipes/napari-aphid/yum_requirements.txt
Labels: staged-recipes, review-requested

#20967 Add napari-mat-file-reader recipe
  recipes/napari-mat-file-reader/meta.yaml
Labels: staged-recipes, review-requested

#21032 Add napari-annotate recipe
  recipes/napari-annotate/meta.yaml
  recipes/napari-annotate/yum_requirements.txt
Labels: staged-recipes, review-requested

#21033 Add napari-sif-reader recipe
  recipes/napari-sif-reader/meta.yaml
Labels: staged-recipes, review-requested

#20099 Add napari-buds recipe
  recipes/napari-buds/meta.yaml
  recipes/napari-buds/yum_requirements.txt
Labels: staged-recipes, review-requested

#20258 Add napari-proofread-brainbow recipe
  recipes/napari-proofread-brainbow/meta.yaml
  recipes/napari-proofread-brainbow/yum_requirements.txt
Labels: staged-recipes, review-requested

#22197 Add napari-nibabel recipe
  recipes/napari-nibabel/meta.yaml
Labels: staged-recipes, review-requested

#20176 Add napari-patchcreator recipe
  recipes/napari-patchcreator/meta.yaml
  recipes/napari-patchcreator/yum_requirements.txt
Labels: staged-recipes, review-requested

#22525 Adding `nlptest` and `wn` from PyPI
  recipes/nlptest/meta.yaml
  recipes/wn/meta.yaml
Labels: review-requested, python

#22541 add ipytablewidgets
  recipes/ipytablewidgets/meta.yaml
Labels: staged-recipes, review-requested

#22410 Add griottes recipe
  recipes/griottes/meta.yaml
Labels: staged-recipes, review-requested

#20285 Add napari-rioxarray recipe
  recipes/napari-rioxarray/meta.yaml
  recipes/napari-rioxarray/yum_requirements.txt
Labels: staged-recipes, review-requested

#22198 Add napari-pointslayer-projection recipe
  recipes/napari-pointslayer-projection/meta.yaml
  recipes/napari-pointslayer-projection/yum_requirements.txt
Labels: staged-recipes, review-requested

#22421 Add napari-features-selector recipe
  recipes/napari-features-selector/meta.yaml
  recipes/napari-features-selector/yum_requirements.txt
Labels: staged-recipes, review-requested

#22229 Add zarr-tools recipe
  recipes/zarr-tools/meta.yaml
Labels: staged-recipes, review-requested

#22484 Add napari-obj recipe
  recipes/napari-obj/meta.yaml
Labels: staged-recipes, review-requested

#22420 Add napari-bbox recipe
  recipes/napari-bbox/meta.yaml
  recipes/napari-bbox/yum_requirements.txt
Labels: staged-recipes, review-requested

#21827 Add vodex recipe
  recipes/vodex/meta.yaml
Labels: staged-recipes, review-requested

#19976 Add dclab recipe
  recipes/dclab/meta.yaml
Labels: staged-recipes, review-requested

#17852 Add brainreg-napari recipe
  recipes/brainreg-napari/meta.yaml
  recipes/brainreg-napari/yum_requirements.txt
Labels: staged-recipes, review-requested

#21723 Adding cuda-cudart
  recipes/cuda-cudart/bld.bat
  recipes/cuda-cudart/build.sh
  recipes/cuda-cudart/conda_build_config.yaml
  recipes/cuda-cudart/meta.yaml
Labels: staged-recipes, review-requested

#22553 Add moleculekit
  recipes/moleculekit/meta.yaml
Labels: staged-recipes, review-requested

#22554 added recipe for `torchtnt`
  recipes/torchtnt/meta.yaml
Labels: staged-recipes, review-requested

#19248 Add napari-process-points-and-surfaces recipe
  recipes/napari-process-points-and-surfaces/meta.yaml
  recipes/napari-process-points-and-surfaces/yum_requirements.txt
Labels: help wanted, staged-recipes, review-requested

#22562 added recipe for `torchsnapshot`
  recipes/torchsnapshot/meta.yaml
Labels: staged-recipes, review-requested

#22564 Add `jupyterlite-sphinx`
  recipes/jupyterlite-sphinx/meta.yaml
Labels: staged-recipes, review-requested, python

#21471 add w4mrutils R package
  recipes/w4mrutils/bld.bat
  recipes/w4mrutils/build.sh
  recipes/w4mrutils/meta.yaml
Labels: R, review-requested

#21833 Add caped-ai-augmentations recipe
  recipes/caped-ai-augmentations/meta.yaml
  recipes/caped-ai-augmentations/yum_requirements.txt
Labels: staged-recipes, review-requested

#22338 Add recipe for pandamesh package (pure Python)
  recipes/pandamesh/meta.yaml
  recipes/pandamesh/yum_requirements.txt
Labels: review-requested, python

#22537 Adding `chromadb`, `duckdb` and `clickhouse-connect` from PyPI
  recipes/chromadb/meta.yaml
  recipes/clickhouse-connect/conda_build_config.yaml
  recipes/clickhouse-connect/meta.yaml
  recipes/duckdb/LICENSE
  recipes/duckdb/meta.yaml
Labels: review-requested, python

#22345 Add Kokkos-kernels recipe.
  recipes/kokkos-kernels/build.sh
  recipes/kokkos-kernels/meta.yaml
Labels: review-requested, c-cpp

#22570 Add recipe for wsgidav (pure python)
  recipes/wsgidav/meta.yaml
Labels: staged-recipes, review-requested

#22273 Adding my TraffiX package
  recipes/traffix/meta.yaml
Labels: review-requested, python

#22567 add r-modeltime.resample
  recipes/r-modeltime.resample/bld.bat
  recipes/r-modeltime.resample/build.sh
  recipes/r-modeltime.resample/meta.yaml
Labels: staged-recipes, review-requested

#22583 add lazy-model
  recipes/lazy-model/meta.yaml
Labels: review-requested, python

#22311 Add gilknocker
  recipes/gilknocker/LICENSE
  recipes/gilknocker/LICENSE-MIT
  recipes/gilknocker/meta.yaml
Labels: review-requested, python-c

#22003 add gmpacket
  recipes/gmpacket/meta.yaml
Labels: staged-recipes, review-requested

#22572 Added pyina as a package
  recipes/pyina/meta.yaml
Labels: staged-recipes, review-requested

#22575 Add recipe for west python package
  recipes/west/meta.yaml
Labels: review-requested, python

#22576 add intake-hive
  recipes/intake-hive/meta.yaml
Labels: staged-recipes, review-requested

#21761 Added balance as a package
  recipes/balance/meta.yaml
Labels: staged-recipes, review-requested

#22505 Added pylyzer as a package
  recipes/pylyzer/meta.yaml
Labels: staged-recipes, review-requested

#22584 add referencing 0.27.2 and rpds-py 0.7.1
  recipes/referencing/meta.yaml
  recipes/rpds-py/bld.bat
  recipes/rpds-py/build.sh
  recipes/rpds-py/meta.yaml
Labels: staged-recipes, review-requested, python, python-c

#21322 Added ormdantic as a package
  recipes/ormdantic/meta.yaml
Labels: staged-recipes, review-requested

#22511 Add multi-model-server and model-archiver
  recipes/model-archiver/meta.yaml
  recipes/model-archiver/skip-tests.patch
  recipes/multi-model-server/meta.yaml
  recipes/multi-model-server/skip-tests.patch
Labels: review-requested, python

#22548 Add napari-hdf5-netcdf-viewer recipe
  recipes/napari-hdf5-netcdf-viewer/meta.yaml
Labels: staged-recipes, review-requested

#22298 Add napari-griottes recipe
  recipes/napari-griottes/meta.yaml
  recipes/napari-griottes/yum_requirements.txt
Labels: staged-recipes, review-requested

#21790 Add napari-vodex recipe
  recipes/napari-vodex/meta.yaml
  recipes/napari-vodex/yum_requirements.txt
Labels: staged-recipes, review-requested

#22557 Add laptrack recipe
  recipes/laptrack/meta.yaml
Labels: staged-recipes, review-requested

#21832 Add caped-ai-metrics recipe
  recipes/caped-ai-metrics/LICENSE
  recipes/caped-ai-metrics/meta.yaml
Labels: staged-recipes, review-requested

#19832 Add imaxt-multiscale-plugin recipe
  recipes/imaxt-multiscale-plugin/meta.yaml
  recipes/imaxt-multiscale-plugin/yum_requirements.txt
Labels: staged-recipes, review-requested

#21830 Add napatrackmater recipe
  recipes/napatrackmater/meta.yaml
  recipes/napatrackmater/yum_requirements.txt
Labels: staged-recipes, review-requested

#21524 Add morphospaces recipe
  recipes/morphospaces/meta.yaml
  recipes/morphospaces/yum_requirements.txt
Labels: Awaiting author contribution

#21614 Add napari-hierarchical recipe
  recipes/napari-hierarchical/meta.yaml
  recipes/napari-hierarchical/yum_requirements.txt
Labels: staged-recipes, review-requested

#19253 Add empanada-napari recipe
  recipes/empanada-napari/meta.yaml
  recipes/empanada-napari/yum_requirements.txt
Labels: staged-recipes, review-requested

#22468 Add napari-hough-circle-detector recipe
  recipes/napari-hough-circle-detector/meta.yaml
  recipes/napari-hough-circle-detector/yum_requirements.txt
Labels: staged-recipes, review-requested

#22547 Add napari-blender-bridge recipe
  recipes/napari-blender-bridge/meta.yaml
Labels: staged-recipes, review-requested

#20947 Add napari-stable-diffusion recipe
  recipes/napari-stable-diffusion/meta.yaml
  recipes/napari-stable-diffusion/yum_requirements.txt
Labels: staged-recipes, review-requested

#22534 Add tcfile recipe
  recipes/tcfile/meta.yaml
Labels: staged-recipes, review-requested

#22174 Add ilastik-napari recipe
  recipes/ilastik-napari/meta.yaml
  recipes/ilastik-napari/yum_requirements.txt
Labels: staged-recipes, review-requested

#22546 Add napari-bigfish recipe
  recipes/napari-bigfish/meta.yaml
  recipes/napari-bigfish/yum_requirements.txt
Labels: staged-recipes, review-requested

#22549 Add napari-laptrack recipe
  recipes/napari-laptrack/meta.yaml
  recipes/napari-laptrack/yum_requirements.txt
Labels: staged-recipes, review-requested

#22595 Add spirv-tools
  recipes/spirv-tools/bld.bat
  recipes/spirv-tools/build.sh
  recipes/spirv-tools/meta.yaml
Labels: staged-recipes, review-requested

#22596 add fonticon-materialdesignicons7
  recipes/fonticon-materialdesignicons7/meta.yaml
Labels: staged-recipes, review-requested

#20287 Add merge-stardist-masks recipe
  recipes/merge-stardist-masks/meta.yaml
Labels: staged-recipes, review-requested

#22560 add arize-phoenix as a package
  recipes/arize-phoenix/meta.yaml
Labels: review-requested, python

#19920 Add TIES20 package
  recipes/TIES20/meta.yaml
Labels: review-requested, python, python-c

#21565 Added pyhash as a package
  recipes/pyhash/meta.yaml
Labels: staged-recipes, review-requested, c-cpp, python-c

#22303 Add adrt
  recipes/adrt/LICENSE_windows.txt
  recipes/adrt/meta.yaml
Labels: review-requested, python-c

#22603 Add pymc-marketing
  recipes/pymc-marketing/meta.yaml
Labels: review-requested, python

#22605 Add pyLeiden
  recipes/pyleiden/meta.yaml
Labels: review-requested, python

#22323 add cocotb
  recipes/cocotb/LICENSE.fli.acc
  recipes/cocotb/LICENSE.fli.mti
  recipes/cocotb/LICENSE.vhpi
  recipes/cocotb/LICENSE.vpi
  recipes/cocotb/meta.yaml
  recipes/cocotb/patches/0001-remove-static-stdc.patch
Labels: Awaiting author contribution, python-c

#22600 add samurai package
  recipes/samurai/bld.bat
  recipes/samurai/build.sh
  recipes/samurai/meta.yaml
Labels: review-requested, c-cpp

#22612 Add watchgha
  recipes/watchgha/meta.yaml
Labels: staged-recipes, review-requested

#22614 add r-modeltime.ensemble
  recipes/r-modeltime.ensemble/bld.bat
  recipes/r-modeltime.ensemble/build.sh
  recipes/r-modeltime.ensemble/meta.yaml
Labels: staged-recipes, review-requested

#22618 add ifes-apt-tc-data-modeling recipe
  recipes/ifes-apt-tc-data-modeling/LICENSE.txt
  recipes/ifes-apt-tc-data-modeling/meta.yaml
Labels: staged-recipes, review-requested

#22231 Add napari-tomocube-data-viewer recipe
  recipes/napari-tomocube-data-viewer/meta.yaml
Labels: staged-recipes, review-requested

#22608 Add napari-nifti recipe
  recipes/napari-nifti/meta.yaml
  recipes/napari-nifti/yum_requirements.txt
Labels: staged-recipes, review-requested

#22470 Add lofo-importance python package
  recipes/lofo-importance/meta.yaml
Labels: review-requested, python

#22588 Add pyocclient recipe
  recipes/pyocclient/meta.yaml
Labels: staged-recipes, review-requested

#22502 Add Flux-core
  recipes/flux-core/LICENSE
  recipes/flux-core/build.sh
  recipes/flux-core/centos6.patch
  recipes/flux-core/conda_build_config.yaml
  recipes/flux-core/meta.yaml
Labels: staged-recipes, review-requested

#22443 Add range-v3
  recipes/range-v3/bld.bat
  recipes/range-v3/build.sh
  recipes/range-v3/meta.yaml
Labels: review-requested, c-cpp

#22606 Add spirv-headers
  recipes/spirv-headers/bld.bat
  recipes/spirv-headers/build.sh
  recipes/spirv-headers/meta.yaml
Labels: staged-recipes, review-requested

#22538 Adding recipes for Adaflow package
  LICENSE
  recipes/adaflow/build.sh
  recipes/adaflow/meta.yaml
Labels: review-requested, c-cpp

#22604 Add libclc
  recipes/libclc/bld.bat
  recipes/libclc/build.sh
  recipes/libclc/meta.yaml
Labels: staged-recipes, review-requested

#22610 Add intake-odbc
  recipes/intake-odbc/meta.yaml
Labels: staged-recipes, review-requested

#22650 add r-sccs
  recipes/r-sccs/bld.bat
  recipes/r-sccs/build.sh
  recipes/r-sccs/meta.yaml
Labels: R, review-requested

#21220 Add napari-owncloud recipe
  recipes/napari-owncloud/meta.yaml
  recipes/napari-owncloud/yum_requirements.txt
Labels: staged-recipes, review-requested

#22633 Add basal-and-bark branch
  recipes/basal-and-bark/meta.yaml
Labels: review-requested, python

#22641 Add segment-geospatial package
  recipes/segment-geospatial/meta.yaml
  recipes/segment-geospatial/yum_requirements.txt
Labels: review-requested, python

#22627 Add r-survidinri, r-survc1
  recipes/r-survc1/bld.bat
  recipes/r-survc1/build.sh
  recipes/r-survc1/meta.yaml
  recipes/r-survidinri/bld.bat
  recipes/r-survidinri/build.sh
  recipes/r-survidinri/meta.yaml
Labels: R, review-requested

#22668 add jsonschema-specifications 2023.3.6
  recipes/jsonschema-specifications/meta.yaml
Labels: staged-recipes, review-requested, python

#22647 Adding h5glance and htmlgen
  recipes/h5glance/meta.yaml
  recipes/htmlgen/meta.yaml
Labels: review-requested, python

#22658 add geovista-slam
  recipes/geovista-slam/meta.yaml
  recipes/geovista-slam/yum_requirements.txt
Labels: review-requested, python

#22619 Add dolphin
  recipes/dolphin/meta.yaml
Labels: staged-recipes, review-requested

#22674 add starlette-csrf 2.0.0
  recipes/starlette-csrf/meta.yaml
Labels: staged-recipes, review-requested, python

#22637 Add flux-sched
  recipes/flux-sched/LICENSE
  recipes/flux-sched/build.sh
  recipes/flux-sched/disable-dynstate-change-test.patch
  recipes/flux-sched/meta.yaml
Labels: staged-recipes, review-requested

#22369 Adding EUMDAC package
  recipes/eumdac/meta.yaml
Labels: review-requested, python

#22652 Add recipe for climix package
  recipes/climix/meta.yaml
Labels: review-requested, python

#22669 Adding `open-radar-data`
  recipes/open-radar-data/meta.yaml
Labels: review-requested, python

#21222 Add napari-unicell recipe
  recipes/napari-unicell/meta.yaml
  recipes/napari-unicell/yum_requirements.txt
Labels: staged-recipes, review-requested

#22601 Add recipe for daqp
  recipes/daqp/conda_build_config.yaml
  recipes/daqp/meta.yaml
Labels: staged-recipes, review-requested

#22661 adding fatpack to conda forge
  recipes/fatpack/meta.yaml
Labels: review-requested, python
